@using IHS.Apps.CMP.Models.ViewModels.Facets
@model FacetRange

@{

    if (Model.ValidationType == ValidationType.Date)
    {
        <label>@Model.RangeStartTitle</label>
        <input type="date" min="@Model.MinValue" max="@Model.MaxValue"/>
        <label>@Model.RangeEndTitle</label>
        <input type="date" min="@Model.MinValue" max="@Model.MaxValue" />
    }
    else if (Model.ValidationType == ValidationType.String)
    {
        <label>@Model.RangeStartTitle</label>
        <input />
        <label>@Model.RangeEndTitle</label>
        <input />
    }
    else if (Model.ValidationType == ValidationType.Currency)
    {
        <label>@Model.RangeStartTitle</label>
        <input type="number" min="@Model.RangeMinLimit" max="@Model.RangeMaxLimit" />
        <label>@Model.RangeEndTitle</label>
        <input type="number" min="@Model.RangeMinLimit" max="@Model.RangeMaxLimit" />
    }
    else if (Model.ValidationType == ValidationType.Integer || Model.ValidationType == ValidationType.Double || Model.ValidationType == ValidationType.Long)
    {
        <label>@Model.RangeStartTitle</label>
        <input type="range" min="@Model.RangeMinLimit" max="@Model.RangeMaxLimit" />
        <label>@Model.RangeEndTitle</label>
        <input type="range" min="@Model.RangeMinLimit" max="@Model.RangeMaxLimit" />
    }
}
