@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (IsSectionDefined("browser_title"))
{
    @section browser_title
    {
        @RenderSection("browser_title", required: false)
    }
}

@section additional_css
{
   @RenderSection("additional_css", required: false)
}

@if (IsSectionDefined("my_banner"))
{
    @section my_banner
    {
       @RenderSection("my_banner", required: false)
    }
}

@section page_title
{
    @RenderSection("page_title", required: false)
}

<div id="main" class="grid">
    @RenderBody()
</div>

@section additional_markup
{
    @RenderSection("additional_markup", required: false)
}

@section additional_scripts
{
    @RenderSection("additional_scripts", required: false)
}