@model IHS.Apps.CMP.Models.ErrorLog
@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
    var contentId = CmpHtmlHelpers.CreateUniqueId("display");

    var mvcCategoryUrl = "CMPBugs";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<div class="grid-1">
    <h1>@Model.Message</h1>
    <h2>@Model.ErrorId</h2>
    <h3>Information</h3>
    <dl class="dl-horizontal">
        <dt>User Id</dt>
        <dd>@Model.UserId</dd>
        <dt>Browser</dt>
        <dd>@Model.Browser @Model.BrowserVersion</dd>
        <dt>Operating System</dt>
        <dd>@Model.OperatingSystem @Model.OperatingSystemVersion</dd>
        <dt>Server</dt>
        <dd>@Model.ServerName</dd>
        <dt>CMP Version</dt>
        <dd>@Model.Version</dd>
        <dt>Language</dt>
        <dd>@Model.ErrorLanguage</dd>
        <dt>Date</dt>
        <dd>@Model.Date</dd>

        <dt>Page</dt>
        <dd>@Model.Referrer</dd>
    </dl>

    <h3>Stack Trace</h3>
    <div class="panel panel-default">
        <div class="panel-heading">@Model.SourceLocation (@Model.LineNumber)</div>
        <div class="panel-body">
            <pre><code class="prettyprint linenums lang-js">@Model.Stack</code></pre>
        </div>
    </div>

</div>