@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_LayoutWithFilter.cshtml";
}

@model IHS.Apps.CMP.Models.ViewModels.ChartPageModel

@section page_title
{
    <div class="page-header with-search-bar with-data-bind">
        <div class="search-bar">
            <div class="dashboardHeader">
                <span class="title grid-lg-1-4 grid-md-1-4 grid-xs-1-2 h1">
                    @if (Model.Breadcrumb != null && Model.Breadcrumb.RenderInHeader)
                    {
                        @Html.Partial("LinkBreadCrumb", Model.Breadcrumb)
                    }
                    else
                    {
                        @Model.Name

                    }
                    @if (!string.IsNullOrEmpty(Model.SubTitle))
                    {
                        <small>@Model.SubTitle</small>
                    }
                </span>
            </div>
        </div>
    </div>

}

@section additional_css
{
    @Styles.Render("~/Content/results")

    <style>
        .chartDropdown {
            width: 24em;
        }
        #chartMainContainer{
            position: relative;
        }
    </style>
}

@section additional_scripts
{
    @Scripts.Render("~/bundles/results")
    @Scripts.Render("~/bundles/chartpage")

    <link href="~/Assets/Css/Facets.css" rel="stylesheet" />
    <script type="text/javascript">
        var vm;
        $(document)
            .ready(function () {
                var searchQuery = window.location.search.substring(1) + window.location.hash;
                vm = new ChartPageVM('container', searchQuery, '@Model.ChartModel.ContainerId', true);
            });
    </script>

}

@section filters
{
    @if (Model.Breadcrumb != null && !Model.Breadcrumb.RenderInHeader)
    {
        @Html.Partial("LinkBreadCrumb", Model.Breadcrumb)
    }

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="filters_home">
            <div data-bind="with : facetsVM">
                @Html.Partial("Results/Facets/FacetsPanel")
            </div>
        </div>
        <div class="tab-pane fade" id="filters_charts">
            <div id="filtersClone"></div>

        </div>
        <div class="startHint leftpointer chart3" data-tutorial="3">
            <h3>Applying filters</h3>
            <p>You can apply any of these filters to change the charts displayed.</p>
        </div>
    </div>
}

    <div class="grid">
        <div class="grid-1">
            <ul class="nav nav-tabs toolbar u-margin-Bxs">
                <li class="nav-tab-right">
                    <ul class="nav nav-tabs toolbar u-margin-none">
                        <li>
                            <a href="#0" data-bind="click: startTutorial"><i class='icon-tutorial'></i>Tutorial</a>
                        </li>
                        <li>
                            <a href="#0" class="" data-toggle="dropdown">
                                Chart types <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right chartDropdown list-group" id="chartslist" data-bind="foreach : availableChartsVM.charts">
                                <label class="u-padding-Axxs list-group-item  u-border-none" data-bind="attr:{for:'cb_' + id}">
                                    <i data-bind="css: chartType" class="large"></i>&nbsp;<input type="checkbox" data-bind="click: onclick ,  attr:{id:'cb_' + id} , checked: isChecked" />&nbsp;
                                    <span data-bind="text : title"></span>
                                </label>
                            </div>

                            <div class="startHint toppointer chart2" data-tutorial="2">
                                <h3>Changing your chart type</h3>
                                <p>You can change your chart type at any time, or select multiple chart types to appear on this page.</p>
                            </div>
                            <div class="highlightHint chart2" data-tutorial="2"></div>
                        </li>
                        <li>
                            <a href="#0" data-bind="click: saveSearch"><i class='icon-folder-open'></i>Save Search</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="chartMainContainer" class="grid-1">
            <div id="@Model.ChartModel.ContainerId" data-bind="foreach: charts" class="grid">
                <div class='grid-1' data-bind='attr:{id: chartMainDivId}, css:{"grid-sm-1-2":$parent.charts().length > 1}'>
                    <div class="card u-margin-Hxs">
                        <div class='pull-right'>
                            <div class='dropdown'>
                                <a href='#0' class='dropdown-toggle' data-toggle='dropdown'>
                                    <i class="icon-menu"></i><span class="sr-only">Chart options</span><span class='caret'></span>
                                </a>
                                <ul class='dropdown-menu dropdown-menu-right'>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ToggleLegend" href='#'><i class='icon-info large'></i>Legend</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ToggleDataTable" href='#'><i class='icon-th large'></i>View Data</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.RenameChart" href='#'><i class='icon-pencil large'></i>Rename Chart</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.PrintChart" href='#'><i class='icon-print large'></i>Print Chart</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ExportChart.bind($data, 'pdf')" href='#'><i class='icon-file-pdf large'></i>Export to pdf</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ExportChart.bind($data, 'jpg')" href='#'><i class='icon-file-image large'></i>Export to jpg</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ExportChart.bind($data, 'png')" href='#'><i class='icon-file-image large'></i>Export to png</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ExportChart.bind($data, 'svg')" href='#'><i class='icon-file-image large'></i>Export to svg</a></li>
                                    <li><a role='menuitem' tabindex='-1' data-bind="click: $parent.ExportDataTable" href='#'><i class='icon-file-excel large'></i>Export Data</a></li>
                                </ul>
                            </div>
                        </div>
                        <div data-bind="attr:{id: chartdivId} "><br />Loading...<br /><br /></div>
                        <div class='u-overflow-scroll hidden' data-bind="attr:{id: chartDataTableDiv }">DT</div>
                    </div>
                </div>
            </div>

            <div class="startHint toppointer chart4" data-tutorial="4">
                <h3>Chart options</h3>
                <p>In this menu you can view the underlying data, edit the chart and export and print it</p>
            </div>
            <div class="highlightHint chart4" data-tutorial="4"></div>
        </div>

    </div>
    <div class="startHint chart1" data-tutorial="1">
        <h3>Charts</h3>
        <p>This is the default chart, but other options are available...</p>
    </div>

<div class="modal fade" id="renameChart" tabindex="-1" role="dialog" aria-labelledby="renameChartLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="renameChartLabel">Rename Chart</h4>
            </div>
            <div class="modal-body">
                <p>Please enter the new chart title.</p>
                <input id="inputboxJQDialog" type="text" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>