@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_LayoutWithFilter.cshtml";
}

@model IHS.Apps.CMP.Models.ViewModels.FlexiChartPageModel

@section page_title
{
    <div class="page-header with-search-bar with-data-bind">
    <div class="search-bar">
        <div class="dashboardHeader">
            <span class="title h1">
                @if (Model.Beta)
                {
                <span class="pull-left beta"></span>
                }

                <span class="title h1">
                    @if (Model.Breadcrumb != null && Model.Breadcrumb.RenderInHeader)
                    {
                    @Html.Partial("LinkBreadCrumb", Model.Breadcrumb)
                    }
                    else
                    {
                    @Model.Name

                    }

                </span>
            </span>
        </div>
    </div>
</div>

}

@section additional_css
{
    @Styles.Render("~/Content/results")
    <link href="@Url.Content("~/Views/AandD/MarketsForecast/MarketsForecast.css")" rel="stylesheet">
}

@section additional_scripts
{
    @Scripts.Render("~/bundles/results")
    @Scripts.Render("~/bundles/highstock")
    @Scripts.Render("~/bundles/highstock-export")
    @Scripts.Render("~/bundles/flexiChart")


    <script type="text/javascript">
        window.vm = { flexChartVM: {} };
        useFacetCaching = true;
        $(document).ready(function () {
            var options = {
                enableSearchBarAutoComplete: false,
                showAdvancedSearch: false,
                showSearchBar: false,
                flexiChartKeys: JSON.parse(@Html.Raw(Json.Encode(@Model.ChartKeys))),
                flexiChartModelName: 'IHS_FlexiCharts' + '@Model.Name'.replace(/ /g, "_"),
                isBeta: "@Model.Beta" == "True"
        }

            var searchQuery = window.location.search.substring(1) + window.location.hash + "&SD=dontSearch";
            window.vm = new ResultsVM('container', searchQuery, options, { flexChartVM: flexiChartVM });

        });

</script>
}

@section filters
{
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="filters_home">
            @if (Model.Breadcrumb != null && !Model.Breadcrumb.RenderInHeader)
            {
                @Html.Partial("LinkBreadCrumb", Model.Breadcrumb)
            }
            <div data-bind="with : facetsVM">
                @Html.Partial("Results/Facets/FacetsPanel")
            </div>
        </div>
    </div>
}
 
<!-- ko with: flexChartVM -->
    <button data-bind="css:{hidden : $root.flexChartVM.charts().length  > 0}" id="buttonChartAxisChooserModal" class="btn btn-primary btn-sm u-margin-Rxxl u-padding-An u-padding-Rs "
            data-toggle="modal" data-target="#addChartChooseAttributesDiv">
        <i class="icon-plus"></i>Add a new chart
    </button>

    <div class="modal fade" id="addChartChooseAttributesDiv" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <div class="modal-content">
                <div class="modal-header u-padding-As u-padding-Ll">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h2 class="corp-blue">Load chart - please make some choices</h2>
                </div>
                <div class="modal-body">
                    <div class="grid">
                        <div class="grid-1-2">

                            <span class="u-font-125">
                                Your new chart will be refined based on the search you have already made. It will
                                also get updated each time you change your search. Please select a value for each of the options below.
                            </span>

                            <div class="u-margin-Al">
                                <h2>X Axis</h2>Choose what you want to be the bottom axis.<br />

                                <select class="form-control u-font-125" data-bind="optionsValue: 'key', value: XValue, options: XValues, optionsText: 'text', "></select>
                            </div>
                            <div class="u-margin-Al">
                                <h2>Y Axis</h2>Choose which value you want to see plotted.<br />

                                <select class="form-control  u-font-125" data-bind="value:YValue,  options: YValues, optionsText: 'text',optionsValue: 'key',   "></select>
                            </div>
                            <div class="u-margin-Al">
                                <h2>Grouping</h2>Choose how you want to group the data, or select "Nothing" to have no grouping in the columns.<br />
                                <select class="form-control u-font-125" data-bind="value:GroupValue, options: GroupValues, optionsText: 'text', optionsValue: 'key' "></select>
                            </div>
                            <div class="u-margin-Al" data-bind="css:{hidden:showChartTypeChooser()==false}">
                                <h2>Chart Type</h2>
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button data-bind="css:{'btn-success white':chartType() == 'Column'}, click:function(){chartType('Column')}" class="btn  btn-default"><i class="icon-chart-bar xlarge"></i>Column</button>
                                    <button data-bind="css:{'btn-success white':chartType() == 'Pie'}, click:function(){chartType('Pie')}" type="button" class="btn btn-default"><i class="icon-chart-pie xlarge"></i>Pie</button>
                                    <button data-bind="css:{'btn-success white':chartType() == 'Area'}, click:function(){chartType('Area')}" type="button" class="btn btn-default"><i class="icon-chart-area xlarge"></i>Area</button>
                                </div>
                            </div>
                            <div class="u-margin-Al" data-bind="visible: $data.showXGCountsInModal">
                                <div data-bind="toggleClick:$data.OpenCountsInModal" class="hand">
                                    <i data-bind="css:{'icon-up-dir' :OpenCountsInModal, 'icon-down-dir':OpenCountsInModal() == false }" class="xlarge"></i> Advanced
                                </div>
                                <div data-bind="visible: $data.OpenCountsInModal" class="width-40">
                                    <h3>Maximum number of X values</h3>
                                    <select class="form-control u-font-135" data-bind="value: $data.xCount, options: $data.xCounts"></select>
                                    <h3>Maximum number of Legend values</h3>
                                    <select class="form-control u-font-135" data-bind="value: $data.gCount, options: $data.gCounts"></select>
                                </div>
                            </div>
                        </div>
                        <div class="grid-1-2">

                            <div id="demochartContainer">
                                <h2>Example Chart</h2>
                                <div id="demoChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default " data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-lg btn-primary" data-bind="click: AddChart" data-dismiss="modal">
                        Load Chart
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div    id="subchartsContainer">
       @if (!string.IsNullOrWhiteSpace(Model.SidePanel))
       {
        
            @Html.Partial("FlexiChart/" + @Model.SidePanel)
        
       }
        <!-- ko foreach: charts -->
     
        <div class='pull-left width-48 u-padding-Am chartWrapper u-margin-Axs' data-bind="attr:{id:$data.chart.chartdivId + 'wrapper'},css1: {'width-100' : $parent.charts().length == 1 , fullscreenSubchart: chartFullscreen }">
            <div class="min-height" style="position:relative" data-bind="css: {fullscreenSubchart: chartFullscreen }">

                <div data-bind="css:{'opacity-10-hover-100':$data.active()==false}" class="btn-group pull-right  " role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-export small"></i>
                            <span class="tooltip">Export</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" style="top:11px" role="menu">

                            <li><a href="#" data-bind="click: $data.ExportChart.bind($data,'pdf')"><i class="icon-file-pdf"></i> Export as PDF</a></li>
                            <li><a href="#" data-bind="click: $data.ExportChart.bind($data,'png')"><i class="icon-file-image"></i> Export as PNG</a></li>
                            <li><a href="#" data-bind="click: $data.ExportChart.bind($data,'svg')"><i class="icon-file-image"></i> Export as SVG</a></li>
                            <li><a href="#" data-bind="click: $data.ExportChart.bind($data,'jpg')"><i class="icon-file-image"></i> Export as JPEG</a></li>
                            <li><a href="#" data-bind="click: $data.PrintChart"><i class="icon-print"></i> Print chart</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-bind="click: exportDataTable"><i class="icon-file-excel"></i> Export chart summary to Excel</a></li>
                        </ul>
                    </div>


                    <div class="btn-group" role="group">
                        <button class="btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-cog small"></i>
                            <span class="tooltip">Add remove & edit chart</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" style="top:11px" role="menu">
                            <li><button data-toggle="modal" data-target="#addChartChooseAttributesDiv" class="btn btn-default  width-100  btn-sm" data-bind="click: $data.add "><i class="icon-plus pull-left"></i><span class="tooltip">Add a chart to the page</span><span class="pull-left u-padding-Lm">Add chart</span></button> </li>
                            <li><button data-toggle="modal" data-target="#addChartChooseAttributesDiv" class="btn btn-default  width-100  btn-sm" data-bind="attr:{id:$data.chart.chartdivId +'_edit'} , click: $data.edit "><i class="icon-cog pull-left"></i><span class="tooltip">Edit this chart</span><span class="pull-left u-padding-Lm">Edit chart</span></button>         </li>
                            <li><button class="btn btn-default  width-100  btn-sm" data-bind="toggleClick: $data.queryRemove "><i class="icon-trash pull-left"></i><span class="tooltip">Remove this chart from the page</span><span class="pull-left u-padding-Lm">Remove chart</span></button>                                                    </li>
                            <li data-bind="css:{hidden: $data.queryRemove() == false}">
                                <button class="btn btn-warning width-100  btn-sm" data-bind="click: $data.remove "><i class="icon-trash pull-left"></i><span class="tooltip">Are you sure?</span><span class="pull-left u-padding-Lm">Yes</span></button>
                                <button class="btn btn-default width-100  btn-sm" data-bind="toggleClick: $data.queryRemove "><i class="icon-trash pull-left"></i><span class="tooltip">Are you sure?</span><span class="pull-left u-padding-Lm">No</span></button>
                            </li>

                        </ul>
                    </div>
                    <button class="btn btn-default   btn-sm" data-bind="toggleClick: $data.frozen, css:{'btn-primary': $data.frozen}"><i class="icon-lock"></i><span data-bind="css:{'hidden': !$data.frozen()}" class="tooltip">Unfreeze</span><span data-bind="css:{'hidden': $data.frozen}" class="tooltip tooltipwide">Freeze, do not update this chart when I change filters.</span></button>
                    <button class="btn btn-default   btn-sm" data-bind="toggleClick: $data.chartFullscreen, css:{'btn-primary': $data.chartFullscreen}"><i class="icon-resize-full" data-bind="css:{'icon-resize-small':$data.chartFullscreen}"></i><span class="tooltip">View chart full screen</span></button>
                    <button class="btn btn-default toggle-chartData btn-sm" data-bind="toggleClick: $data.chartDataTable, css:{'btn-primary': $data.chartDataTable()==true}"><i class="icon-th"></i><span class="tooltip">Toggle chart summary</span></button>
                </div>
                <div class="chartDiv " data-bind="attr:{id:$data.chart.chartdivId}">

                    <h2> Loading chart, please wait.</h2>

                    <div class="chartLoading">

                    </div>
                </div>
                @*

                CHART REFINE MODAL ********************************************************************

                *@
                <div data-bind="css:{hidden: $data.refineVisible() == false}" class="hidden ChartRefinerModal">
                    <div class="modal-header u-padding-As u-padding-Ll hand">
                        <span>Filter Chart</span>
                        <button type="button" class="close" data-bind="click:function(){$data.refineVisible(false);}" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="grid">
                            <div data-bind="css:{'grid-5-6':$data.SelectedChartItems().length == 0 , 'grid-1-2':$data.SelectedChartItems().length > 0}">
                                <div data-bind="css:{hidden: $data.x() == 'TIMELINE'}">
                                    <span class="blue2">X Axis</span>
                                    <h2 class="u-margin-Tn" data-bind="text:$data.XFilterValue">x</h2>
                                    <button data-bind="click:function(){$data.AddToList('x')}" class="btn btn-primary btn-sm u-margin-Ts">
                                        <i class="icon-plus"></i>Add To List
                                    </button>
                                    <br />
                                    <hr />
                                </div>
                                <div data-bind="css:{hidden: $data.g() == 'NOTHING'}">
                                    <span class="blue2">Group Axis</span>
                                    <h2 class="u-margin-Tn" data-bind="text:$data.GFilterValue">x</h2>
                                    <button data-bind="click:function(){$data.AddToList('g')}" class="btn btn-primary btn-sm u-margin-Ts">
                                        <i class="icon-plus"></i>Add To list
                                    </button>
                                </div>
                            </div>
                            <div class="grid-1-2" data-bind="css:{'hidden':$data.SelectedChartItems().length == 0 , 'grid-1-2':$data.SelectedChartItems().length > 0}">
                                <span class="blue2">Current List</span>
                                <ul class="list-group" data-bind="foreach:SelectedChartItems">
                                    <li class="list-group-item u-border-none u-padding-An">
                                        <div>
                                            <span class="hand" title="Remove from list" data-bind="click:$parent.removeSelectedChartItem, text:$data.value"></span>
                                            <span data-bind="click:$parent.removeSelectedChartItem" class="remove u-font-125 hand" title="Remove from list">×</span>
                                        </div>
                                    </li>
                                </ul>
                                @*<span class="tipsyMe" title="Help text1"> You may choose a new X Axis</span>
                                <select class="form-control" data-bind="optionsValue: 'key', value: RefineNextXValue, options: $parent.XValues, optionsText: 'text', "></select>
                                <span> You may choose a new Grouping</span>
                                <select class="form-control" data-bind="optionsValue: 'key', value: RefineNextGValue, options: $parent.GroupValues, optionsText: 'text', "></select>*@
                                <button data-bind="click:function(){$data.RefineChart('Add')}" class="btn btn-primary btn-sm u-margin-Ts width-100">
                                    <i class="icon-plus"></i>Add list to filters
                                </button>
                                <button data-bind="click:function(){$data.RefineChart('Remove')}" class="btn btn-primary btn-sm u-margin-Ts width-100">
                                    <i class="icon-minus"></i>Exclude list from filters
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class='u-overflow-auto u-font-85' data-bind="css:{hidden:!$data.chartDataTable},attr:{id:$data.chart.chartdivId + 'DataTable'}"></div>
            </div>
        </div>
     
        <!-- /ko -->
    </div>
<!-- /ko-->

<div class="hidden" id="demochartContainer">
    <h2>Example Chart</h2>
    <div id="demoChart">2323</div>
</div>