
@model IHS.Apps.CMP.Models.DashboardWidget
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Widget Test Bed Page</title>
    <meta name="viewport" content="width=device-width"/>

    <style>
        .hero {
            background: #0097d1;
            background: -moz-linear-gradient(-45deg, #0097d1 28%, #2a78a8 100%);
            background: -webkit-gradient(linear, left top, right bottom, color-stop(28%, #0097d1), color-stop(100%, #2a78a8));
            background: -webkit-linear-gradient(-45deg, #0097d1 28%, #2a78a8 100%);
            background: -o-linear-gradient(-45deg, #0097d1 28%, #2a78a8 100%);
            background: -ms-linear-gradient(-45deg, #0097d1 28%, #2a78a8 100%);
            background: linear-gradient(135deg, #0097d1 28%, #2a78a8 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0097d1', endColorstr='#2a78a8', GradientType=1);
            margin-bottom: 20px;
            margin-left: -2.61%;
            padding: 10px 2.5%;
            width: 105.22%;
        }

            .hero h1 {
                color: #fff;
                margin-top: 25px;
            }

            .hero .grid {
                margin-right: -15px;
                margin-left: -15px;
            }

        h1 .ihslogo {
            margin-right: 10px;
            vertical-align: middle;
        }

        .pagerip {
            background-image: url('/Assets/Images/code.png');
            background-repeat: no-repeat;
            height: 480px;
            width: 92%;
            background-size: 150%;
        }

        .pageriptop {
            background-image: url('/Assets/Images/pagerip.png');
            background-repeat: no-repeat;
            position: absolute;
            top: -20px;
            width: 100%;
            height: 500px;
            background-size: contain;
        }

        label {
            text-align: right;
            clear: both;
            float:left;
            margin-right:15px
        }

        input[type="range"]  {
            display: inline-block !important;
            width: auto !important;
        }

        
    </style>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    
    @Scripts.Render("~/bundles/minimal")
    
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryUnobtrusive")
    @Scripts.Render("~/bundles/dashboard")

    @{
        if (Model.Widget != null)
        {
            foreach (var resource in Model.Widget.JavaScriptFiles)
            {
                <script src="@resource"></script>
            }
            foreach (var resource in Model.Widget.CssFiles)
            {
                <link href="@resource" rel="stylesheet"/>
            }
        }
    }

    <script type="text/javascript">

        var widget;

        $(function() {
            Dashboard.dashboardVM = new DashboardVM({
                    id: -1,
                    name: 'Dummy Dash',
                    columns: 1,
                    currentItem: '@Model.Subject',
                    dashboardType: @Convert.ToInt32(Model.Type),
                showUnauthorizedWidgets: true,
                categoryKey: 'MAINSEARCH',
                    commandUrls: {
                        updateWidgetsUrl: "xxxx",
                        updateLayoutUrl: "yyyy"
                    },
                    baseUrl: "Blagh"
                }
            );

            setTimeout(function() {
                widget = Dashboard.dashboardVM.widgets[0];
                $("#widgetTimeout").val(widget.timeoutMs);
                $("#widgetTimeout").change(function() {
                    if (widget != null) {
                        widget.timeoutMs = this.value;
                        return true;
                    }
                    return false;
                });
                $("#widgetReload").click(function(e) {
                    e.preventDefault();
                    widget.loadContent();
                });
            }, 2000);

            jQuery('#widgetWidth').on("change", function() {
                console.log(this.value);
                $('#dvLiveWidgetArea').width(this.value);
                $('#widgetWidthLabel').text(this.value);
                Dashboard.dashboardVM.widgets[0].resize();
            });

            Dashboard.dashboardVM.widgets[0].loadContent();
        });

    </script>

    @Styles.Render("~/Content/mainCss")
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Assets/Css/jquery-ui.css")
</head>
<body>

    <div class="hero">
        <div class="grid">
            <div class="text-right">
                <span class="ihslogo white-outline large hidden-xs"></span>
            </div>
            <div class="grid-1 grid-sm-3-5 grid-lg-1-2">
                <h1 id="errorHeading"><span class="visible-xs-inline-block ihslogo white-outline"></span>@Model.Widget.Name</h1>
            </div>

        </div>
        <ul class="subNav">
            <li>Widget Test Bed</li>
        </ul>
    </div>
    <div>

        <div id="dvLiveWidgetArea" class="ui-widget-content" style="width: 500px; border: 1px solid black; float: left;">
            @Html.Partial("Widget/WidgetBase", Model)
        </div>

        <div style="float:left; top: 1em; border: 1px lightgray solid; padding: 1em; margin-left: 1em;">
            <h2>Widget Options</h2>
            <div>
                <label>Timeout (ms) <input id="widgetTimeout" value="xxx" /></label> 
            </div>
            <div>
                <label>Widget Width <input id="widgetWidth" type="range"  value="500" min="100" max="1600"> (<span id="widgetWidthLabel">500</span> px)</label>
            </div>
            <div>
                <button id="widgetReload" value="Reload">Reload</button>
            </div>
        </div>
    </div>

</body>
</html>
