@model IHS.Apps.CMP.Models.ViewModels.WelcomeMessage
<p class="logo">
    @if (!string.IsNullOrWhiteSpace(Model.CompanyInfo.CompanyLogo))
    {
        <img src="@Model.CompanyInfo.CompanyLogo" alt="@Model.CompanyInfo.Name" />
    }
</p>
<p>@Html.Raw(Model.Message)</p>

@if (Model.CompanyInfo.Contact != null)
{
    <address>
        <strong>@Model.CompanyInfo.Contact.ContactName</strong><br />
        @Html.Raw(Model.CompanyInfo.Contact.GetContactAddress("<br />"))
        <abbr title="Telephone">Tel:</abbr>@Model.CompanyInfo.Contact.PhoneNumber<br />
        <a href="mailto:@Model.CompanyInfo.Contact.Email">@Model.CompanyInfo.Contact.Email</a>
    </address>
}
