@model  List<IHS.Apps.CMP.Models.ViewModels.AddressModel>

@{
    string containerId = string.Concat("dvDoc", Guid.NewGuid().ToString().Replace("-", string.Empty));
}
<div id="@containerId" style="width: 100%;">
    @foreach (IHS.Apps.CMP.Models.ViewModels.AddressModel address in Model)
    {
        if (!string.IsNullOrEmpty(address.Title))
        {
        <h4>@address.Title</h4>
        }
        <address>
            @for (int i = 0; i < address.Lines.Count; i++)
            {
                if (i > 0)
                {
                <br />
                }
                string val = address.Lines[i];
                int colIndex = val.IndexOf(':');
                string key = string.Empty;
                if (colIndex > 0 && colIndex < 5)
                {
                    key = val.Substring(0, colIndex + 1);
                    val = val.Substring(colIndex + 1).Trim();
                }

                if (!string.IsNullOrEmpty(key))
                {
                <b>@key </b>
                }
                if (val.StartsWith("http"))
                {
                <a href="@val" target="_blank">@val</a>
                }
                else if (key == "Web:")
                {
                <a href="http://@val" target="_blank">@val</a>
                }
                else
                {
                @val
                }
            }
        </address>
    }
</div>