@model System.Collections.ObjectModel.Collection<IHS.Apps.CMP.Models.ViewModels.Bookmark>
@{
    var resourceFile = "~/Views/Shared/PartialPages/Bookmarks";
}

@if (Model.Count == 0)
{
    <div class="well text-center large">@this.LocalResources(resourceFile, "NoneFound")</div>
}
else
{

    <div class="list-group">
        @{
    string currentCategory = string.Empty;
    int rowId = 0;
        }
        @foreach (IHS.Apps.CMP.Models.ViewModels.Bookmark bookmark in Model)
        {
            if (string.IsNullOrEmpty(currentCategory) || !currentCategory.Equals(bookmark.CategoryKey))
            {
                currentCategory = bookmark.CategoryKey;
                <div class="list-group-item list-group-item-header ">
                    <h4 class="u-margin-Tn u-margin-Bn">@bookmark.CategoryName</h4>
                </div>
            }

            <a class="list-group-item" href="view.axd?from=Bookmarks&catKey=@bookmark.CategoryKey&searchId=@bookmark.Id" target="_blank">
                <h5 class="list-group-item-heading">
                    <i class="icon-bookmark grey2"></i> @bookmark.Title
                </h5>
                @if (!string.IsNullOrEmpty(bookmark.Description))
                {
                    <p class="list-group-item-text">
                        @bookmark.Description
                    </p>
                }

                <p class="list-group-item-text orange1">@this.GlobalResources("CreatedDate"): @bookmark.DateCreated</p>

            </a>
                rowId++;
        }
    </div>

    @Html.Partial("Widget/LinkListWidgetFooter", new[] { new IHS.Apps.CMP.Models.ViewModels.Link(){
        NavigateUrl = "/MyBookmarks",
        Text = "Manage Bookmarks"
    }})
}
