@model IHS.Apps.CMP.Models.ViewModels.ChartModel

@{
    string containerId = @Model.ContainerId;
    string chartId = @Model.ChartId;
    string chartDatatableid = @Model.ChartId + "DataTable";
    string modalId = CmpHtmlHelpers.CreateUniqueId("modalDiv");
    string modalLabelId = CmpHtmlHelpers.CreateUniqueId("modalLabel");
}

<script>

    $(function () {
        var myChart = new chartVM('@chartId', '@modalId');
        myChart.chartInit(@Html.Raw(Model.Data));

        ko.applyBindings(myChart, document.getElementById('@containerId'));

        if (typeof window["Dashboard"] !== "undefined") {
            Dashboard.registerJavascriptObject('@containerId', myChart);
        }
    });
</script>

<div id="@containerId" class="u-padding-Bs centered nopadding">
    <div id="@chartId" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>

    @if (!string.IsNullOrEmpty(Model.Footnote))
    {
        <div class="text-muted">@Model.Footnote</div>
    }

    <button class="btn btn-link hide-on-maximize u-margin-Txs" data-toggle="modal" data-target="#@modalId">Chart summary<i class="icon-popup grey2"></i></button>
</div>

<div class="show-on-maximize" style="display:none">
    <h3>Chart Summary</h3>
    <div class="@chartDatatableid">
    </div>
</div>

<div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalLabelId" aria-hidden="true">
    <div class="modal-dialog modal-lg width-80">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="@modalLabelId">Chart Summary</h4>
            </div>
            <div class="modal-body" style="overflow-y: hidden; overflow-x: auto;">
                <div class="@chartDatatableid">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (@Model.Link != null)
{
    @Html.Partial("Widget/LinkListWidgetFooter", new[] { Model.Link })
}