@model IHS.Apps.CMP.Models.ViewModels.AandD.DefenceModel

@{
    if (Model.Items.Count() > 0)
    {
        int counter = 1;
        foreach (IHS.Apps.CMP.Models.ViewModels.AandD.ContractModelItem contractModel in Model.Items)
        {
            counter = counter + 1;

            <p class="icon-collapse-arrow hand" data-toggle="collapse" href="#@(Model.Category)collapse@(counter)" aria-expanded="false">
                @contractModel.DisplayName
            </p>
            <div class="collapse" id="@(Model.Category)collapse@(counter)">
                <ul class="list-unstyled u-margin-Lxl">
                    @if (Model.IncludeSupplier)
                    {
                        <li>
                            @Html.LabelFor(model => contractModel.Supplier, "Supplier:", new { @class = "u-margin-Rxs u-margin-Vn u-bold" })
                            @Html.DisplayFor(model => contractModel.Supplier)
                        </li>
                    }
                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => contractModel.MarketName, "Market:", new { @class = "u-margin-Rxs u-margin-Vn u-bold" })
                        @Html.DisplayFor(model => contractModel.MarketName)
                    </li>

                    @if (Model.IncludeCountry)
                    {
                        <li class="u-margin-Vs">
                            @Html.LabelFor(model => contractModel.Country, "End User Country:", new { @class = "u-margin-Rxs u-margin-Vn u-bold" })
                            @Html.DisplayFor(model => contractModel.Country)
                        </li>
                    }

                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => contractModel.Value, "5 Year Forecast Value ($M):", new { @class = "u-margin-Rxs u-margin-Vn u-bold" })
                        @Html.DisplayFor(model => contractModel.Value)
                    </li>

                    @if (!string.IsNullOrEmpty(contractModel.Status))
                    {
                        <li class="u-margin-Vs">
                            @Html.LabelFor(model => contractModel.Status, "Status:", new { @class = "u-margin-Rxs u-margin-Vn u-bold" })
                            @Html.DisplayFor(model => contractModel.Status)
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(contractModel.Link))
                    {
                        <li class="u-margin-Vs">
                            <a href="@contractModel.Link" target="_blank">More Details<i class="icon-link-ext u-margin-Lxs grey2"></i></a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
    else
    {
        <p>No data for this view</p>
    }

}

@Html.Partial("Widget/LinkListWidgetFooter", Model.FooterLinks)