@model IHS.Apps.CMP.Models.ViewModels.AandD.DefenceModel

@{
    if (Model.Items.Count() > 0)
    {
        int counter = 1;
        foreach (IHS.Apps.CMP.Models.ViewModels.AandD.DefenceModelItem defenceModel in Model.Items)
        {
            counter = counter + 1;

            <p class="icon-collapse-arrow hand" data-toggle="collapse" href="#@(Model.Category)collapse@(counter)" aria-expanded="false">
                @defenceModel.DisplayName
            </p>
            <div class="collapse" id="@(Model.Category)collapse@(counter)">
                <ul class="list-unstyled u-margin-Lxl">
                    <li>
                        @Html.LabelFor(model => defenceModel.Description, new { @class = "u-margin-Rxs u-margin-Vn" })
                        @Html.DisplayFor(model => defenceModel.Description)
                    </li>
                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => defenceModel.ProgrammeType, "Programme Type", new { @class = "u-margin-Rxs u-margin-Vn" })
                        @Html.DisplayFor(model => defenceModel.ProgrammeType)
                    </li>

                    @if (Model.IncludeCountry)
                    {
                        <li class="u-margin-Vs">
                            @Html.LabelFor(model => defenceModel.Country, new { @class = "u-margin-Rxs u-margin-Vn" })
                            @Html.DisplayFor(model => defenceModel.Country)
                        </li>
                    }

                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => defenceModel.PlatformName, "Platform Name", new { @class = "u-margin-Rxs u-margin-Vn" })
                        @Html.DisplayFor(model => defenceModel.PlatformName)
                    </li>
                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => defenceModel.Status, new { @class = "u-margin-Rxs u-margin-Vn" })
                        @Html.DisplayFor(model => defenceModel.Status)
                    </li>
                    <li class="u-margin-Vs">
                        @Html.LabelFor(model => defenceModel.DateUpdated, "Date Updated", new { @class = "u-margin-Rxs u-margin-Vn" })
                        @Html.DisplayFor(model => defenceModel.DateUpdated)
                    </li>

                    <li class="u-margin-Vs">
                        <a href="@defenceModel.Link" target="_blank">More Details<i class="icon-link-ext u-margin-Lxs grey2"></i></a>
                    </li>
                </ul>
            </div>
        }
    }
    else
    {
        <p>No data for this view</p>
    }

}

@Html.Partial("Widget/LinkListWidgetFooter", new[] { 
    new IHS.Apps.CMP.Models.ViewModels.Link()
  {
      NavigateUrl = Url.Action(
        "RedirectToJDP",
        "DefenceProgrammes", 
        new
        {
            dash = Model.DashboardType, 
            entity = Model.Entity, 
            cat = Model.Category, 
            taxonomy = Model.TaxonomyKey
        }),
      Text = Model.LinkText,
      Target = "_blank"
  }})
