@using System.Globalization
@using System.Web.Script.Serialization
@using IHS.Apps.CMP.Models.ViewModels;
@model GoogleMapModel

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("dvMapContainer");
    var mapId = CmpHtmlHelpers.CreateUniqueId("dvMap");
    var mapModalId = CmpHtmlHelpers.CreateUniqueId("dvMapModal");
    var serializer = new JavaScriptSerializer { MaxJsonLength = Int32.MaxValue };
}
<script src="~/Assets/Javascript/DynamicLoader.js"></script>

<div id="@containerId" style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 92%; height: calc(100% - 40px); position: relative;">

        <div id="@mapId" style="width: 100%; height: 100%"></div>

        <div class="baseMap dropdown" style="position: absolute; right: 10px; top: 10px;">
            <button class="btn dropdown-toggle" style="padding: 3px 4px; background: white;" data-toggle="dropdown">
                <i class="icon-layers" aria="Base map"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 110px;"></ul>
        </div>

        <div class="map-legend" data-bind="css : {'map-legend-expanded' : isLegendOpen}">
            <div class="hand map-legend-key border-bottom" data-bind="click:expandLegend, attr : {'title' : isLegendOpen() ? 'Click to close the legend' : 'Click to open the legend'}">
                <i class="icon-resize-full hand flip-x" data-bind="css : {'icon-resize-small' : isLegendOpen, 'icon-resize-full' : !isLegendOpen()}"></i>
                <span>Legend</span>
            </div>
            <ul data-bind="foreach: options().MarkerOptions">
                <li data-bind="if: (IsAuthorised && ($parent.findLayer(Argument).Markers.length || Argument == 'JticBubble_Events')) || !IsAuthorised ">
                    <fieldset style="margin: 4px;" data-bind="enable: IsForGlobal || $parent.country, attr:{title: IsForGlobal ? '' :'Only available on country specific dashboards.'">
                        <span><img data-bind="attr:{src:Icon}" style="width:23px;height:23px;" /></span>
                        <span data-bind="if: IsAuthorised">
                            <input type="checkbox" class="mapCheckBox" data-bind="value:Argument, attr:{ id:Argument }, checked: $parent.activeLayerNames, enable: IsForGlobal || $parent.country()" style="vertical-align: text-bottom" />
                            <label style="display: inline-block; font-weight: normal; margin-bottom:0;" data-bind="attr:{for:Argument}">
                                <span data-bind="text: Text"></span> <span data-bind="foreach: $parent.options().Layers"><!-- ko if: $data.LayerName == $parent.Argument && $data.Markers.length -->(<span data-bind="text:$data.Markers.length"></span>)<!-- /ko --></span>
                            </label>
                        </span>
                        <span data-bind="if: !IsAuthorised">
                            <i class="icon-lock large" style="margin-left: -5px;"></i>

                            <span data-bind="text: Text"></span> <span data-bind="if: $parent.Layers">(<!-- ko text:$parent.Layers.length --><!-- /ko -->)</span>
                        </span>
                    </fieldset>
                </li>
            </ul>
        </div>

        <div class="loading dimmer hidden"></div>
    </div>
    @{
        Link link = new Link()
        {
            Text = "View Map",
            NavigateUrl = "/map",
            Target = "_blank",
            ToolTip = "All events since 2009"
        };
        link.Attributes.Add("data-href", "/map#f={0}");
    }
    @Html.Partial("Widget/LinkListWidgetFooter", new[] { link })

    <div class="mapModal modal modal-bottom-right fade" tabindex="-1" role="dialog" id="@mapModalId" aria-labelledby="@(mapModalId)_label" aria-hidden="true">
        <div class="modal-dialog u-margin-Axxs" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header draggable">
                    <button type="button" class="close closePopup" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="u-padding-Axxs map-modal-breadcrumb" id="@(mapModalId)_label"></div>
                    <div class="modal-loading"></div>
                </div>
                <div class="modal-body u-padding-An"></div>
                <div class="modal-footer">
                    <span class="text-info u-margin-Rm hidden map-modal-limit-warning"><a class="btn btn-link" target="_blank" data-href="/TerrorismInsurgencyEvents/search#f={0}">Latest 100 points shown</a></span>
                    <button type="button" class="btn btn-default closePopup" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Assets/Css/Maps.css">
<script type="text/javascript">

    $(document).ready(function () {

        var loader = new DynamicLoader();
        loader.loadScript("https://js.arcgis.com/3.22/init.js")
            .success(function() {
                var eventMap = new EsriMapWidget('@mapId',
                    '@Model.CountryName',
                    '@containerId',
                    {
                        Layers: @Html.Raw(serializer.Serialize(Model.Layers)),
                        MarkerOptions: @Html.Raw(serializer.Serialize(Model.MarkerOptions)),
                        Latitude: @( Model.Latitude ?? 0),
                        Longitude: @( Model.Longitude ?? 0),
                        zoom: 5,
                        IsLegendOpen: @( Model.IsLegendOpen.ToString().ToLower()),
                        SW_Latitude:
                            @Html.Raw(Model.SW_Latitude == null ? "null" : Model.SW_Latitude.Value.ToString(CultureInfo.InvariantCulture)),
                        SW_Longitude:
                            @Html.Raw(Model.SW_Longitude == null ? "null" : Model.SW_Longitude.Value.ToString(CultureInfo.InvariantCulture)),
                        NE_Latitude:
                            @Html.Raw(Model.NE_Latitude == null ? "null" : Model.NE_Latitude.Value.ToString(CultureInfo.InvariantCulture)),
                        NE_Longitude:
                            @Html.Raw(Model.NE_Longitude == null ? "null" : Model.NE_Longitude.Value.ToString(CultureInfo.InvariantCulture)),
                        Settings: @Html.Raw(Model.Settings.ToJson()),
                        modal: "@mapModalId"
                    });

                ko.applyBindings(eventMap, document.getElementById('@containerId'));

                if (typeof window["Dashboard"] !== "undefined") {
                    Dashboard.registerJavascriptObject('@containerId', eventMap);
                }

                if (!Modernizr.svg) {
                    $('img[data-png-src]', '#@containerId')
                        .each(function(i, e) {
                            var $e = $(e);
                            $e.attr('src', $e.attr('data-png-src'))
                        });
                }
            });

    });
</script>