@model IHS.Apps.CMP.Models.ViewModels.AandD.KeyDataModel

@{
    string containerId = CmpHtmlHelpers.CreateUniqueId("dvKeyData");
    string keyDataTab = CmpHtmlHelpers.CreateUniqueId("dvkeyDataTab");
}

<div id="@containerId" class="tab-content">
    <div class="tab-pane fade active in" id="@keyDataTab">

        <table class="table">
            <tr class="text-middle">
                <td></td>
                <td class="text-right"><b>Year/s</b></td>
                <td class="text-right"><b>Value</b></td>
                <td class="text-left" width="10px"></td>
            </tr>
            @foreach (var keyDataViewModel in Model.KeyDataViewModels)
            {
                <tr class="text-middle">
                    <td><b>@keyDataViewModel.TITLE</b></td>
                    <td class="text-right">@keyDataViewModel.RANGE</td>
                    <td class="text-right"><font color="@keyDataViewModel.VALUECOLOR">@keyDataViewModel.VALUE</font></td>
                    <td class="text-left"><i class="@keyDataViewModel.ICON "></i></td>
                </tr>
            }
        </table>
        @*<table class="table">
            <tr class="text-left">
                <td width="25%">
                    <h5><b>CAGR</b></h5>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <h5><b>Defence % of GDP</b></h5>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <h5><b>Since 2005</b></h5>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <h5><b>Growth</b></h5>
                </td>
            </tr>
            <tr class="text-left">
                <td width="25%">
                    <table>
                        <tr>
                            <td><h5><b>5 Years @Model.KeyDataViewModels.ElementAt(0).RANGE</b></h5></td>
                        </tr>
                        <tr>
                            <td class="orange1"><h2>@Model.KeyDataViewModels.ElementAt(0).VALUE</h2></td>
                        </tr>
                        <tr>
                            <td><h5><b>5 Years @Model.KeyDataViewModels.ElementAt(1).RANGE</b></h5></td>
                        </tr>
                        <tr>
                            <td class="orange1"><h2>@Model.KeyDataViewModels.ElementAt(1).VALUE</h2></td>
                        </tr>
                    </table>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <table>
                        <tr>
                            <td><h5><b>@Model.KeyDataViewModels.ElementAt(2).RANGE</b></h5></td>
                        </tr>
                        <tr>
                            <td class="orange1"><h2>@Model.KeyDataViewModels.ElementAt(2).VALUE</h2></td>
                        </tr>
                    </table>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <table>
                        <tr>
                            <td><h5><b>Highest (@Model.KeyDataViewModels.ElementAt(4).YEAR)</b></h5></td>
                        </tr>
                        <tr>
                            <td class="orange1"><h2>@Model.KeyDataViewModels.ElementAt(4).VALUE b</h2></td>
                        </tr>
                        <tr>
                            <td><h5><b>Lowest (@Model.KeyDataViewModels.ElementAt(5).YEAR)</b></h5></td>
                        </tr>
                        <tr>
                            <td class="orange1"><h2>@Model.KeyDataViewModels.ElementAt(5).VALUE b</h2></td>
                        </tr>
                    </table>
                </td>
                <td width="25px" style="background-color:#F2F2F2"></td>
                <td width="25%">
                    <table>
                        <tr>
                            <td><h5><b>Real Growth from @Model.KeyDataViewModels.ElementAt(3).RANGE</b></h5></td>
                        </tr>
                        <tr>
                            <td><h2><i class="@Model.KeyDataViewModels.ElementAt(3).ICON"></i><font color="@Model.KeyDataViewModels.ElementAt(3).VALUECOLOR">@Model.KeyDataViewModels.ElementAt(3).VALUE</font></h2></td>
                        </tr>
                        <tr>
                            <td><h5><b>@Model.KeyDataViewModels.ElementAt(6).RANGE (USD b)</b></h5></td>
                        </tr>
                        <tr>
                            <td><h2><i class="@Model.KeyDataViewModels.ElementAt(6).ICON"></i><font color="@Model.KeyDataViewModels.ElementAt(6).VALUECOLOR">@Model.KeyDataViewModels.ElementAt(6).VALUE</font></h2></td>
                        </tr>
                        <tr>
                            <td><h5><b>@Model.KeyDataViewModels.ElementAt(7).RANGE (USD b)</b></h5></td>
                        </tr>
                        <tr>
                            <td><h2><i class="@Model.KeyDataViewModels.ElementAt(7).ICON"></i><font color="@Model.KeyDataViewModels.ElementAt(7).VALUECOLOR">@Model.KeyDataViewModels.ElementAt(7).VALUE</font></h2></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>*@

    </div>
</div>