@model IHS.Apps.CMP.Models.Widgets.MergersAcquisitionsWidget

@{
    string containerId = CmpHtmlHelpers.CreateUniqueId("div");
    string mainId = CmpHtmlHelpers.CreateUniqueId("main");
    string filterId = CmpHtmlHelpers.CreateUniqueId("filter");
    string radioName = CmpHtmlHelpers.CreateUniqueId("radio");
}
<div id="@mainId">
    <script language="">
    $("#@filterId", "#@mainId").chosen({
        search_contains: true,
        width: '100%',
        allow_single_deselect: true
    })
        .change(function (e, o) {
            var optsWarning = $("#@(filterId + "_warning")");
            optsWarning.addClass("hidden");

            FilterMandA();
        });

        $("input[name=@radioName]", "#@mainId").change(function () {
            FilterMandA();
        });

    function FilterMandA() {
        var url = "@Html.Raw(Url.Action("ChangeFilter", "MergersAcquisitionsWidget", new { dashboardType = Model.DashboardType, subject = Model.DashboardSubject, selectedTab = Model.SelectedTab, chartId = Model.Chart.ChartId }))";

        url += "&tabFilter=";

        var opts = $('#@filterId');

        if (opts[0].value) {
            url += "f~" + encodeURI(opts[0].value);
        }

        var radioVal = $("input[name=@radioName]:checked").val();
        if (radioVal != undefined) {
            url += "$$r~" + $("input[name=@radioName]:checked").val();
        }

        $("#@(containerId)load").show();
        $("#@containerId").load(url, function () {
            $("#@(containerId)load").hide();
        });
    }
</script>

    @if (Model.FilterOption != null)
    {
        <select id="@filterId" data-placeholder="Select @Model.FilterOption.Title" data-index="@Model.FilterOption.Indexer" class="chosenselect" style="width: 250px;">
            <option></option>
            @foreach (var opt in Model.FilterOption.Options)
            {
                if (opt.Equals(Model.FilterOption.SelectedOption))
                {
                    <option value="@opt.Value" selected="selected" @Html.Raw(opt.DataText)>@opt.Text</option>
                }
                else
                {
                    <option value="@opt.Value" @Html.Raw(opt.DataText)>@opt.Text</option>
                }
            }
        </select>
        <div id="@(filterId + "_warning")" class="text-danger hidden hidden-print">Please select a filter</div>
    }
    
    @if (Model.RadioOption != null)
    {
        foreach (var opt in Model.RadioOption.Options)
        {
            <label class="radio-inline u-padding-Ts">
                @if (opt.Equals(Model.FilterOption.SelectedOption))
                {
                    <input type="radio" name="@radioName" value="@opt.Value" checked="checked" @Html.Raw(opt.DataText)> @opt.Text
                }
                else
                {
                    <input type="radio" name="@radioName" value="@opt.Value" @Html.Raw(opt.DataText)> @opt.Text
                }
            </label>
        }
    }
    <br />
    <br />
    <span></span>
    <div id="@containerId">
        @Html.Partial("PartialPages/Widget/BudgetChart", Model.Chart)
    </div>
    <div id="@(containerId)load" class="loading dimmer" style="display: none;"></div>
</div>