@model System.Collections.ObjectModel.Collection<IHS.Apps.CMP.Models.ViewModels.Download>
@{
    var resourceFile = "~/Views/Shared/PartialPages/MyFilesPartial";
}

@if (Model.Count == 0)
{
    <div class="well text-center large">
        @this.LocalResources(resourceFile, "NoneFound")
    </div>
}
else
{
    <div class="list-group">
        @{
    string currentCategory = string.Empty;
        }
        @foreach (IHS.Apps.CMP.Models.ViewModels.Download download in Model)
        {
            if (string.IsNullOrEmpty(currentCategory) || !currentCategory.Equals(download.CategoryKey))
            {
                currentCategory = download.CategoryKey;
            <div class="list-group-item"><h4 class="u-margin-Tn u-margin-Bn">@download.CategoryName</h4></div>
            }

            <a class="list-group-item" href="/@download.CategoryKey/Download/MyFilesDownload/@download.Id">
            @{
            string iconClass = string.Empty;
                switch (download.FileType)
                {
                    case "CSV":
                        iconClass = "icon-file-csv";
                        break;
                    case "DOCX":
                        iconClass = "icon-file-word";
                        break;
                    case "EXCEL":
                        iconClass = "icon-file-excel";
                        break;
                    case "PDF":
                        iconClass = "icon-file-pdf";
                        break;
                    case "TAB":
                        iconClass = "icon-file-tab";
                        break;
                    case "XML":
                        iconClass = "icon-file-xml";
                        break;
                    case "ZIP":
                        iconClass = "icon-file-zip";
                        break;
                }
                }

                <i class="@iconClass hand pull-left u-margin-Rxs"></i>
                <p class="list-group-item-heading">@download.FileName</p>
            <p class="list-group-item-text orange1">@this.LocalResources(resourceFile, "CreatedDate"): @download.Date <span class="text-muted pull-right">@this.LocalResources(resourceFile, "DaysRemaining"): @download.DaysUntilDeletion</span></p>
            </a>
        }
    </div>

    @Html.Partial("Widget/LinkListWidgetFooter", new[] { new IHS.Apps.CMP.Models.ViewModels.Link(){
        NavigateUrl = "/MyFiles",
        Text = "Manage Files"
    }})
}
