@model IHS.Apps.CMP.Models.ViewModels.AandD.PlatformEquipmentModel

@{
    CmpHtmlHelpers.CreateUniqueId("main");

    var countrySelectId = CmpHtmlHelpers.CreateUniqueId("countrySelectId");
    var platformNameId = CmpHtmlHelpers.CreateUniqueId("platformNameId");
    var platformWdjtContainerID = CmpHtmlHelpers.CreateUniqueId("platformWdjtContainerID");
    var itemsContainer = CmpHtmlHelpers.CreateUniqueId("items");
}

<div id="@platformWdjtContainerID">
    <div id="plaftormloading" class="loading dimmer" style="display: none; z-index: 10000;"></div>

    @if (Model.Countries.Count > 0)
    {
        <select id="@countrySelectId" data-placeholder="Filter by country of manufacturer" onchange="retrieveContent(this.value)" class="chosenselect" style="width: 250px;">
            <option></option>
            @foreach (var cou in Model.Countries)
            {
                if (@Model.SelectedCountry == @cou)
                {
                    <option value="@cou" selected="selected">@cou</option>
                }
                else
                {
                    <option value="@cou">@cou</option>
                }
            }
        </select>
    <span class="clear-country hand grey2 absolute u-bold" style="font-size: 150%; right: 50px; top: 9px; display: none">&times;</span>
        <br />

    }
    <div class="--input-group-- autocomplete u-margin-Ts u-margin-Bxxs" style="display: table; width: 100%; position: relative">
        <div class="loading sm" style="display: none; left: auto; right: 5px; top: 16px;"></div>
        <input type="text" id="@platformNameId" name="platformText" class="form-control ui-autocomplete-input dark-placeholder" placeholder="Filter by Platform" autocomplete="off">
        <span class="clear-searchterm hand grey2 absolute u-bold" style="font-size: 150%; right: 30px; top: 2px; display: none">&times;</span>
        <span class="platform-info">Start typing a platform/equipment name to get a list of possible matches</span>
     </div>

    <div id="@itemsContainer">
        @Html.Partial("Widget/PlatformWidgetItems", Model)
    </div>

    
    <script type="text/javascript">
    $(function () {
        //HookupImagePopup(".imagePopupCarousel");
        PopupImageCarousel.new({
            thumbnailSelector: ".imagePopupCarousel",
            title: "Platform Images"
        });

        var $containerId = '#@platformWdjtContainerID';
        $("#@platformNameId").focus();

        $("#@countrySelectId").chosen({
            width: '100%',
            no_results_text: "No countries found for "
        });

        $('.clear-country', $containerId).click(function () {
            $("#@countrySelectId").val('').trigger("chosen:updated");
            retrieveContent('');
        });

        $('.clear-searchterm', $containerId).click(function () {
            $("#@platformNameId").val('');
            retrieveContent();
        });

    });

    var retrieveContent = function (country) {

        var $containerId = '#@platformWdjtContainerID';
        var urlPath;
        if (country != null) {
            urlPath = "/Platform/GetEquipment?subject=" + '@Model.SelectedEquipment' + "&country=" + country;
        } else {
            urlPath = "/Platform/GetContent?subject=" + '@Model.SelectedEquipment' + "&country=" + '@Model.SelectedCountry' + "&platform=" + $("#@platformNameId").val();
        }

        $($containerId).append('<div class="loading dimmer"></div>');

        var searchTerm = $("#@platformNameId").val();

        $.ajax({
            type: "POST",
            url: urlPath,
            datatype: "html",
            success: function (data) {
                $('.loading', $containerId).remove();
                $('#@itemsContainer').html(data).promise().done(function () {
                    if (country) {
                        $('.clear-country', $containerId).show();
                    } else {
                        $('.clear-country', $containerId).hide();
                    };
                    if (searchTerm !== '') {
                        $('.clear-searchterm', $containerId).show();
                    } else {
                        $('.clear-searchterm', $containerId).hide();
                    };
                });
            }
        });
    }

    var requestAutocomplete = true;
    $("#@platformNameId")
        .autocomplete({
            source: function (request, response) {
                var $containerId = '#@platformWdjtContainerID';
                $(".autocomplete .loading", $containerId).show();
                var searchTerm = $("#" + "@platformNameId").val();
                var equipmentName = '@Model.SelectedEquipment';
                var urlPath = "/Platform/GetEquipmentList";
                var escapedQueryString = encodeURIComponent(searchTerm);
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: urlPath,
                    data: "{'searchTerm':'" +
                        escapedQueryString +
                        "', 'count':'" +
                        10 +
                        "', 'equipmentName':'" +
                        equipmentName +
                        "','country':'" +
                        '@Model.SelectedCountry' +
                        "'}",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (!data.length) {
                            $(".autocomplete .loading", $containerId).hide();
                            var result = [
                                {
                                    label: 'No matches found',
                                    value: response.term
                                }
                            ];
                            response(result);
                        } else {
                            $(".autocomplete .loading", $containerId).hide();
                            response(data);
                            console.log(data);
                            $('.ui-autocomplete', '#@platformNameId').css('z-index', 2000);
                        }
                    },
                    error: function (result) {
                        $(".autocomplete .loading", $containerId).hide();
                        console.log(result);
                    }
                });
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            minLength: 3,
            select: function (a, b) {
                $(this).val(b.item.value);
                //$(this).next(".input-group-btn").find("button").removeClass("disabled");
                retrieveContent();
            }
        });

</script>

</div>
