@using IHS.Apps.CMP.Models.ViewModels
@model IHS.Apps.CMP.Models.ViewModels.SearchableLinksModel

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <p>@Model.Description</p>
}

@{
    string containerId = CmpHtmlHelpers.CreateUniqueId("selDashoardboards");
}

<script>
    $(document).ready(function() {
        $("#" + "@containerId").chosen({
            width:'100%',
            no_results_text : "@Model.NoResultsMessage"
        });
    });
</script>

<style>
    #@(containerId.Replace('-', '_'))_chosen {
        margin-bottom:28px;
    }
</style>

<select id="@containerId" data-placeholder="@Model.DropDownMessage" onchange="location.href = this.value" class="chosenselect" style="width: 100%;">
    <option></option>
    @foreach (Link link in Model.SearchableLinks)
    {
        <option value="@link.NavigateUrl">@link.Text</option>
    }
</select>

@{
    if (Model.TopLinks != null && Model.TopLinks.Count > 0)
    {
        var linkList = Model.TopLinks;
        if (Model.MoreLink != null)
        {
            linkList = linkList.Concat(new[] { Model.MoreLink }).ToList();
        }

        @Html.Partial("Widget/LinkListWidgetFooter", linkList)
    }
}