@model  List<IHS.Apps.CMP.Models.ViewModels.TableModel>

@{
    string containerId = string.Concat("dvDoc", Guid.NewGuid().ToString().Replace("-", string.Empty));
    bool isScrollable = Model.Any(m => m.Scrollable);
}

<div id="@containerId" style="width: 100%;">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (!Model[i].DisplayTable)
        {
            <p>@Model[i].Title</p>
        }
        else if (Model[i].Data != null)
        {
            if (!string.IsNullOrEmpty(Model[i].Title))
            {
                <h3>@Model[i].Title</h3>
            }

            <div data-bind="@(Model[i].Scrollable ? "scrollbar:{axis:'x'}": string.Empty)" )>
                <table class="table @(Model[i].CondenseTable ? "table-condensed" : string.Empty) ">
                    <thead>
                        <tr>
                            @for (int j = 0; j < Model[i].Data.Columns.Count; j++)
                            {
                                if (Model[i].Data.Columns[j].ColumnMapping == System.Data.MappingType.Hidden)
                                {
                                    continue;
                                }

                                <th>@Model[i].Data.Columns[j].ColumnName.TrimStart('_')</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model[i].Data.Rows.Count; j++)
                        {
                            <tr>
                                @for (int k = 0; k < Model[i].Data.Columns.Count; k++)
                                {
                                    if (Model[i].Data.Columns[k].ColumnMapping == System.Data.MappingType.Hidden)
                                    {
                                        continue;
                                    }

                                    if (k == 0 && Model[i].Data.Rows[j].IsNull(k + 1))
                                    {
                                        <td colspan="@Model[i].Data.Columns.Count.ToString()">@Model[i].Data.Rows[j][k]</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @if (!string.IsNullOrEmpty(Model[i].Data.Columns[k].Caption) && Model[i].Data.Columns[k].Caption != Model[i].Data.Columns[k].ColumnName)
                                            {
                                                @(string.Format(Model[i].Data.Columns[k].Caption, Model[i].Data.Rows[j][k]))
                                            }
                                            else
                                            {
                                                if (Model[i].ContainsHtml)
                                                {
                                                    @Html.Raw(Model[i].Data.Rows[j][k])
                                                }
                                                else
                                                {
                                                    @Model[i].Data.Rows[j][k]
                                                }
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
@if (isScrollable)
{
    <script>
        ko.applyBindings({}, document.getElementById("@containerId"));
    </script>
}