@model IHS.Apps.CMP.Models.ViewModels.AandD.VideoModel

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("Videos");
    var sliderId = CmpHtmlHelpers.CreateUniqueId("Slider");
}


<script type="text/javascript">

    var videoService = new VzaarVideoVm(@Html.Raw(Json.Encode(Model)));

    $(document).ready(function () {
        ko.applyBindings(videoService, document.getElementById("@containerId"));
        videoService.displayPlayList("#@sliderId");
    });


</script>

<style type="text/css">

    .video-player {
        width: 100%;
        height: 70%;
        height: calc(100% - 155px);
    }

    .vidThumbnail{
        width: 100%;
        clip: rect(0 150px 0 75px);
        border: 1px solid #ccc;
        padding: 3px;
    }

</style>


<div id="@containerId" style="height: 100%;">
    
    <iframe id="vidContainer"
            name="vidContainer"
            title="video player"
            class="video-player"
            type="text/html"
            frameborder="0"
            allowFullScreen 
            allowTransparency="true"
            mozallowfullscreen 
            webkitAllowFullScreen
            data-bind="attr: {src: selectedVideoSource}">
    </iframe>
    <p id="vidDescription" data-bind="text: shortDescription" class="u-margin-Vs"></p>
    
    <div id="@sliderId" class="flexslider video-thumbs">
        <ul class="slides" data-bind="foreach: videoPage">
            <li data-bind="click: function () { videoService.switchVideo(Id, Description); }, attr:{title: Description}">
                <img class="vidThumbnail" data-bind="attr: { src: ThumbNailWebLink }"/>
            </li>
        </ul>
    </div>
   
</div>

@Html.Partial("Widget/LinkListWidgetFooter", new[] { new IHS.Apps.CMP.Models.ViewModels.Link(){
    NavigateUrl = "/Video",
    Text = "View More Videos",
    Target = "_blank"
}})
