@model System.Collections.ObjectModel.Collection<IHS.Apps.CMP.Models.ViewModels.SavedSearchEntry>




@if (Model.Count == 0)
{
    <div class="well text-center large">@this.LocalResources("NoneFound")</div>
}
else
{
    <p>
        <strong>Click on an icon to select either email or RSS delivery</strong>
    </p>
    <div class="grid">
        @{
            string currentGroup = string.Empty;
        }
        @foreach (IHS.Apps.CMP.Models.ViewModels.SavedSearchEntry search in Model)
        {
            if (string.IsNullOrEmpty(currentGroup) || !currentGroup.Equals(search.Grouping))
            {
                currentGroup = search.Grouping;
                <h4 class="grid-1-1 light-grey-bg u-padding-Axs u-margin-Tn u-margin-Bn u-border-top u-border-bottom">@search.Grouping</h4>
            }

            <div class="grid-1-6 text-center">
                <button class="icon-search hand tipsyMe xlarge u-margin-Rm" title="View" onclick="location.assign('/MySavedSearches/ViewSearch?searchId=@search.Id');"></button>
                    
                <button class="icon-mail hand tipsyMe xlarge u-margin-Rm" title="Create email alert" onclick="commandsVM.saveSearch('@search.Title', '@search.Id')"></button>
                
                <button class="icon-rss hand tipsyMe xlarge" title="Fetch RSS Feed" onclick="RSSSearch('@search.Id', '@this.UserProfile.Id')"></button>
            </div>
            <div class="grid-5-6 u-padding-Vxs large">
                @search.Title
            </div>
        }
    </div>
}