@model  IEnumerable<IHS.Apps.CMP.Models.ViewModels.CarouselItem>

<div class="flexslider">
	<ul class="slides">
            @foreach (var carouselItem in Model)
            {
                var thumbnail = string.IsNullOrEmpty(carouselItem.ThumbnailLink) ? string.Empty : string.Format("data-thumb='{0}'", carouselItem.ThumbnailLink);

				<li @Html.Raw(thumbnail)>
					@if (!string.IsNullOrEmpty(carouselItem.ImageName))
					{
						if (carouselItem.OverlayPosition == IHS.Apps.CMP.Models.ViewModels.CarouselOverlayPosition.none)
						{
							@RenderCaption(carouselItem)
						}
						else if (!(string.IsNullOrEmpty(carouselItem.Text) && string.IsNullOrEmpty(carouselItem.Link) && string.IsNullOrEmpty(carouselItem.Heading)))
						{
							<div class="flex-overlay flex-overlay-@carouselItem.OverlayPosition.ToString() relative">
								@RenderOverlay(carouselItem)
							</div>
						}

						<div class="flexslider-image">
							<img src="@carouselItem.ImageName" alt="@HttpUtility.HtmlDecode(carouselItem.Text)" />
						</div>
					}
					else
					{
						@RenderOverlay(carouselItem)
					}
				</li>
            }
        </ul>
</div>

@helper RenderCaption(IHS.Apps.CMP.Models.ViewModels.CarouselItem carouselItem)
{
    <div class="flex-caption">
        <div class="width-100 u-margin-Txxs">
            <div class="inline-block">
                <div>@HttpUtility.HtmlDecode(carouselItem.Heading)</div>
            </div>
            @if (!string.IsNullOrEmpty(carouselItem.Link))
            {
                <div class="inline-block pull-right">
                    <a href="@carouselItem.Link" class="btn btn-primary btn-sm" role="button" target="_blank">@this.LocalResources("View")</a>
                </div>
            }
        </div>

        <div>
            <p>
                @if (!string.IsNullOrEmpty(carouselItem.DateLabel))
                {
                    <span class="u-margin-Rxxs">@HttpUtility.HtmlDecode(carouselItem.DateLabel)</span>
                }

                <span class="orange1">@carouselItem.Date</span>
            </p>
            @if (!string.IsNullOrEmpty(carouselItem.Text))
            {
                <p class="visible-lg">@HttpUtility.HtmlDecode(carouselItem.Text)</p>
            }
        </div>
    </div>
}


@helper RenderOverlay(IHS.Apps.CMP.Models.ViewModels.CarouselItem carouselItem)
{
    <h3>@HttpUtility.HtmlDecode(carouselItem.Heading)</h3>
	if (!string.IsNullOrEmpty(carouselItem.Text))
	{
	        <p class="visible-lg">@HttpUtility.HtmlDecode(carouselItem.Text)</p>
	}
    <p>
        @if (!string.IsNullOrEmpty(carouselItem.DateLabel))
        {
            <span class="u-margin-Rxxs">@HttpUtility.HtmlDecode(carouselItem.DateLabel)</span>
        }

        <span>@carouselItem.Date</span>
    </p>
	if (!string.IsNullOrEmpty(carouselItem.Link))
	{
	        <a href="@carouselItem.Link" class="btn btn-primary btn-sm" role="button" target="_blank">@this.LocalResources("View")</a>
	}
}
