@model IHS.Apps.CMP.Models.ViewModels.ChangePasswordModel

@{
    var idChangePasswordForm = CmpHtmlHelpers.CreateUniqueId("changePasswordPopup");
    var idCurrentPassword = CmpHtmlHelpers.CreateUniqueId("currentPassword");
    var idNewPassword = CmpHtmlHelpers.CreateUniqueId("newPassword");
    var idRetypePassword = CmpHtmlHelpers.CreateUniqueId("retypePassword");
}

<div id="@idChangePasswordForm">

    <p>Please confirm your current password. Then enter a new password that meets the following requirements:</p>

    <h5>Passwords <b>cannot</b> be the same as:</h5>
    <ul>
        <li>previous passwords</li>
        <li>your user name</li>
    </ul>

    <h5>Passwords must contain:</h5>
    <ul style="list-style:none">
        <li><span data-bind="text : validLength() ? '\u2714' : ''" class="green1"></span> Between 8 and 20 characters</li>
        <li><span data-bind="text : validNoSpaces() ? '\u2714' : ''" class="green1"></span> No spaces</li>
        <li><span data-bind="text : validLowercase() ? '\u2714' : ''" class="green1"></span> 1 lowercase letter</li>
        <li><span data-bind="text : validUppercase() ? '\u2714' : ''" class="green1"></span> 1 uppercase letter</li>
        <li><span data-bind="text : validNumberOrSpecial() ? '\u2714' : ''" class="green1"></span> 1 number or 1<span data-bind="tipsy : { gravity: 's', delayIn: 200, fade: true }" title="&#33; &#34; &#35; &#36; &#37; &#38; &#39; &#40; &#41; &#42; &#43; &#44; &#45; &#46; &#47; &#58; &#59; &#60; &#61; &#62; &#63; &#64; &#91; &#92; &#93; &#94; &#95; &#96; &#123; &#124; &#125; &#126;"><a href="javascript:void(0)"> special character</a></span></li>
    </ul>

    <p>After you have changed your password you will need to log in again.</p>

    <div class="alert alert-success" data-bind="visible: serverSuccessMessage().length > 0">
        <p data-bind="text: serverSuccessMessage"></p>
        <br />
        <p>You will now be logged off in a few seconds. Please login with your new credentials.</p>
    </div>

    <div class="alert alert-danger" data-bind="visible : isErrorMessagesVisible">
        <div class="validationMessage" data-bind="validationMessage: currentPassword"></div>
        <div class="validationMessage" data-bind="validationMessage: newPassword"></div>
        <div class="validationMessage" data-bind="validationMessage: retypePassword"></div>
        <div class="validationMessage" data-bind="text: serverErrorMessage"></div>
    </div>

    <form data-bind="submit: submitPassword">
        <div class="form-group" data-bind="validationOptions: {insertMessages: false}">
            <label for="@idCurrentPassword">Current Password:</label><a class="small" style="margin-left: 105px;" href="javascript:void(0)" data-bind="text : showPasswords() ? 'Hide Passwords' : 'Show Passwords', click : toggleShowPasswords"></a>
            <div class="input-group right-inner-addon">
                <i class="asterisk"></i>
                <input id="@idCurrentPassword" style="width:300px;" class="form-control" type="password" data-bind="value: currentPassword, attr : { 'type' : showPasswords() ? 'text' : 'password'  }, css : { 'alert-danger' : !currentPassword.isValid() && currentPassword.isModified() }">
            </div>
        </div>
        <div class="form-group" data-bind="validationOptions: {insertMessages: false}">
            <label for="@idNewPassword">New Password:</label>
            <div class="input-group right-inner-addon">
                <i class="asterisk"></i>
                <input id="@idNewPassword" style="width:300px;" data-bind="value : newPassword, attr : { 'type' : showPasswords() ? 'text' : 'password' }, event : { 'keyup': checkPasswordRequirements }, css : { 'alert-danger' : !newPassword.isValid() && newPassword.isModified() }" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group" data-bind="validationOptions: {insertMessages: false}">
            <label for="@idRetypePassword">Confirm New Password:</label>
            <div class="input-group right-inner-addon">
                <i class="asterisk"></i>
                <input id="@idRetypePassword" style="width:300px;" type="password" data-bind="value : retypePassword, attr : { 'type' : showPasswords() ? 'text' : 'password'  }, css : { 'alert-danger' : !retypePassword.isValid() && retypePassword.isModified() }" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        @if (Model.ShowCancelButton)
            {
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        }
    </form>

    <div class="loading text dimmer" data-bind="visible: isProcessing"></div>
</div>

<script type="text/javascript">
    $(document)
        .ready(function () {
            var vm = new ChangePasswordVM();
            ko.applyBindings(vm, document.getElementById("@idChangePasswordForm"));
        });
</script>
