@using IHS.Apps.CMP.Models
@model Dashboard

    <span>
        <span class="title">@Model.Title</span>
        @if (!string.IsNullOrEmpty(Model.IconCss))
        {
            <span class="dashboard-icon">
                <span class="flag-icon @Model.IconCss"></span>
            </span>
        }
        <div class="relative">
            <div class="startHint leftpointer dash4" data-tutorial="4">
                <h3>Changing @this.LocalResources(Model.Type.ToStringSafe())</h3>
                <p>You can change @this.LocalResources(Model.Type.ToStringSafe()).ToLower() by typing in the @this.LocalResources(Model.Type.ToStringSafe()).ToLower() you are looking for here.</p>
            </div>
        </div>
        @Html.Partial("DashboardSubjectSelect")
    </span>