@model IHS.Apps.CMP.Models.ViewModels.ExportResultsForm

@{
    var formId = CmpHtmlHelpers.CreateUniqueId("exportForm");
}

<div id="@formId" class="form-horizontal">

    <script>
        @** This should probably need to be tidied up at somepoint. *@
        function updateExportWarningMessage() {

            @{
                bool allowedBatchExport = Model.ExportMethods.Contains(IHS.Apps.CMP.Models.Enums.EnumExportMethod.Batch);
            }

            var numberOfExports = @Model.NumberOfRecords;

            var maxExportsStreamed = {
                @foreach (var format in Model.ExportFormats.Where(p => !p.ExcludeWarningMessage))
            {
                @Html.Raw(format.ExportFormat + " : " + format.MaxStreamedSize + ",")
            }
            };

            var maxExportsBatched = {
                @foreach (var format in Model.ExportFormats.Where(p => !p.ExcludeWarningMessage))
            {
                @Html.Raw(format.ExportFormat + " : " + format.MaxBatchedSize + ",")
            }
            };

            var getCheckedRadioValue = function (name) {
                var elements = document.getElementsByName(name);

                for (var i = 0, len = elements.length; i < len; ++i)
                    if (elements[i].checked) return elements[i].value;

                return null;
            };

            var selectedFormat = $("#selExportFormat", "#@formId").val();
            var selectedMethod = getCheckedRadioValue("exportMethodsGroup");

            var allowedStreamedExports = maxExportsStreamed[selectedFormat];
            var allowedBatchedExports = maxExportsBatched[selectedFormat];

            var showWarning = false;

            var warningMessage = "<p>Warning, you are only allowed to {0} export {1} records in this format. You will only receive {2} exports at this time.</p>";

            @{
                if (allowedBatchExport)
                {
                    @Html.Raw("var fyiMessage = \"<p>Selecting the 'Batched' option will enable you to batch export a maximum of {0} records.</p>\";")
                }
                else
                {
                    @Html.Raw("var fyiMessage = '';")
                }
            }

            if (selectedMethod === "Batch" && allowedBatchedExports !== undefined && (numberOfExports > allowedBatchedExports || numberOfExports == 0)) {

                warningMessage = String.format(warningMessage, "batch", allowedBatchedExports, allowedBatchedExports);
                fyiMessage = "";
                showWarning = true;

            } else if (selectedMethod === "Stream" && allowedStreamedExports !== undefined && (numberOfExports > allowedStreamedExports || numberOfExports == 0)) {

                warningMessage = String.format(warningMessage, "stream", allowedStreamedExports, allowedStreamedExports);
                fyiMessage = String.format(fyiMessage, allowedBatchedExports);

                showWarning = true;
            }

            var $warning = $(".alert", "#@formId");

            if (showWarning) {
                warningMessage = warningMessage + fyiMessage;
                $warning.html(warningMessage);
                $warning.show();
            } else {
                $warning.hide();
            }
        };

        updateExportWarningMessage();

    </script>

    @if (Model.NumberOfRecords > 0)
    {
        <p class="text-right italic">
            @{ var exportNumberString = Model.NumberOfRecords > 1 ? "items" : "item"; }
            You are currently exporting @Model.NumberOfRecords @exportNumberString
        </p>

        <br />
    }
    <p class="alert-danger alert" style="display:none">
    </p>

    <!-- EXPORT FORMAT -->
    <div class="form-group">
        <label for="selExportFormat" class="grid-1 grid-sm-1-5 u-padding-Rn text-left">Please select the export format required:</label>
        <div class="grid-1 grid-sm-3-4">
            <select data-placeholder="" class="form-control dashboarExisting" id="selExportFormat" onchange="updateExportWarningMessage()">
                <option value="" disabled selected hidden></option>
                @{
                    foreach (var format in Model.ExportFormats)
                    {
                        string selectedAttrib = format.ExportFormat == Model.DefaultExportFormat ? "selected" : string.Empty;

                        <option value="@format.ExportFormat" data-max-streamed="@format.MaxStreamedSize" data-max-batched="@format.MaxBatchedSize" @selectedAttrib>@format.DisplayText</option>
                    }
                }
            </select>
        </div>
    </div>

    <!-- EXPORT METHOD -->
    <div class="form-group">
        <label class="grid-1 grid-sm-1-5 u-padding-Rn text-left">Please select the export type required:</label>
        <div class="grid-1 grid-sm-3-4">

            @{
                foreach (var method in Model.ExportMethods)
                {
                    string checkedAttrib = method == Model.DefaultExportMethod ? "checked" : string.Empty;


                    var displayAttribute = method.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                    string methodTitle = displayAttribute == null ? method.ToString() : displayAttribute.Name;

                    var descriptionAttribute = method.GetAttribute<System.ComponentModel.DescriptionAttribute>();
                    string methodDescription = descriptionAttribute == null ? string.Empty : " - " + descriptionAttribute.Description;

                    <label class="input-group u-margin-Bxs">
                        <span class="input-group-addon">
                            <input type="radio" value="@method" name="exportMethodsGroup" onchange="updateExportWarningMessage()" @checkedAttrib>
                        </span>
                        <span class="radio-text-border">
                            <b>@methodTitle</b> @methodDescription
                        </span>
                    </label>
                }
            }
        </div>
    </div>

    <!-- SAVE AS -->
    <div class="form-group">
        <label for="inpExportAs" class="grid-1 grid-sm-1-5 u-padding-Rn newtextlabel text-left">Save export as:</label>
        <div class="grid-1 grid-sm-3-4">
            <div>
                <input type="text" class="form-control" id="inpExportAs">
            </div>
        </div>
    </div>


    <!-- FORM BUTTONS -->
    <div class="form-group">
        <div class="grid-1 text-center">
            <button type="button" class="btn btn-primary" data-bind="click : submitExportRequest.bind($data, '@formId')">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>

</div>
