@using System.ComponentModel.DataAnnotations
@model IHS.Apps.CMP.Models.ViewModels.Feedback

@{
    var feedbackId = CmpHtmlHelpers.CreateUniqueId("feedback");
    var loadingId = CmpHtmlHelpers.CreateUniqueId("loading");
}

<div id="@feedbackId">

    @using (Ajax.BeginForm("Submit", "Feedback", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = feedbackId, LoadingElementId = loadingId }))
    {
        <form class="form-horizontal">
            <fieldset>

                <div class="grid">

                    <div class="grid-1-1" style="line-height: 1.428571429">
                        @Html.ValidationSummary(false, "", new { @class = "form-control" })

                    </div>

                    <p class="grid-1-1">Your feedback is important as it assists us in improving our standard of services to better meet your requirements.</p>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.FeedbackType, new { style = "margin-bottom: 8px; margin-top: 6px" })

                        @foreach (var feedbackType in Model.FeedbackTypes)
                        {
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(model => model.FeedbackType, feedbackType, new { @class = "" }) @Html.Raw(feedbackType.GetAttribute<DisplayAttribute>().Name)
                                </label>
                            </div>
                        }
                    </div>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.Message, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 6 })
                    </div>

                    <br class="grid-1-1"/>
                    <p class="grid-1-1">If you would like to be contacted to discuss this issue further and/or volunteer to assist in the development of IHS products please indicate below and provide your contact details in the fields provided. Your details will be used for no other purpose and will remain confidential.</p>

                    <div class="grid-1-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ContactMe, new { @class = "" })
                            @Html.LabelFor(model => model.ContactMe, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        </div>
                    </div>

                    <div class="grid-1-1">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.BetaTests, new { @class = "" })
                                @Html.LabelFor(model => model.BetaTests, new { style = "margin-bottom: 8px; margin-top: 6px" })
                            </label>
                        </div>
                    </div>

                    <p class="grid-1-1">Your contact details:</p>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.FullName, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                    </div>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.Organisation, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        @Html.TextBoxFor(model => model.Organisation, new { @class = "form-control" })
                    </div>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.TelephoneNumber, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        @Html.TextBoxFor(model => model.TelephoneNumber, new { @class = "form-control" })
                    </div>

                    <div class="grid-1-1">
                        @Html.LabelFor(model => model.EmailAddress, new { style = "margin-bottom: 8px; margin-top: 6px" })
                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <div class="grid-1 centered">
                            @*<button class="btn btn-default">Back</button>
                            <button class="btn btn-primary">Next</button>*@
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <div id="@loadingId" class="loading dimmer u-padding-Al" style="display:none"> </div>
    }
</div>
