@model IHS.Apps.CMP.Models.ViewModels.AandD.IntelligenceBriefings

@{
    
    var ibtContainerId = CmpHtmlHelpers.CreateUniqueId("ibtContainerId");
}



<div id="@ibtContainerId">
    <ul class="nav nav-tabs nav-tabs-line nav-tabs-center">
        <li class="active"><a href="#divSeminarsForth" data-toggle="tab">Forthcoming Briefings</a></li>
        <li><a href="#divSeminarsPrev" data-toggle="tab">Past Briefings</a></li>
    </ul>
    <div class="tab-content grid">
        <div class="tab-pane fade active in" id="divSeminarsForth" style="-ms-flex: 1">
            @if (!Model.UpcomingBriefings.Any())
            {
                <div class="grid-1">No Forthcoming Briefings Available</div>
            }

            @foreach (var briefing in Model.UpcomingBriefings)
            {
                <span>
                    <div class="seminardate grid-1-5 u-padding-Rn orange1">@briefing.PostDate</div>
                    @if (Model.IsEnabled)
                    {
                        <div class="seminartitle grid-3-5">
                            <a href="/IntelBriefings/Display/@briefing.DatabaseRecordId.Trim()" class="visitedlink" target="_blank" title="@briefing.Title">@briefing.Title</a>
                            <a href="/IntelBriefings/Display/@briefing.DatabaseRecordId.Trim()" class="visitedtick"><span class="visitedtick_tt"></span></a>
                        </div>
                        <div class="seminartimes grid-1-5 u-padding-Ln">
                            @foreach (var briefingSession in briefing.BriefingSessions)
                            {
                                <a href="javascript:void(0)" class="btnRegister" data-id="@briefingSession.SessionIdentifier|@briefingSession.Session|@briefingSession.Key|@briefingSession.Platform"
                                   data-title="@briefing.Title" data-date="@briefingSession.Date" data-time="@briefingSession.Time">Register for@(" " + briefingSession.Time)<i class="icon-popup"></i></a>
                            }
                        </div>
                    }
                    else
                    {
                        <span class="seminartitle grid-3-5">
                            <a href="javascript:void(0)" class="disabled" title="You do not have access to this feature. Please contact your account manager for assistance."><i class="icon-lock"></i>@briefing.Title</a>
                        </span>
                        <span class="seminartimes grid-1-5">
                            @foreach (var briefingSession in briefing.BriefingSessions)
                            {
                                <a href="javascript:void(0)" onclick="alert('You do not have access to this feature. Please contact your account manager for assistance.');return false;"
                                   class="disabled">@briefingSession.Time</a>
                            }
                        </span>
                    }
                </span>
            }
        </div>
        <div class="tab-pane fade" id="divSeminarsPrev" style="-ms-flex: 1">
            @if (!Model.PastBriefings.Any())
            {
                <div class="grid-1">No Previous Seminars Available</div>
            }

            @foreach (var briefing in Model.PastBriefings)
            {
                <span>
                    <div class="seminardate grid-1-5 u-padding-Rn orange1">@briefing.PostDate</div>
                    <div class="seminartitle grid-4-5">
                        @if (Model.IsEnabled)
                        {
                            <a href="/IntelBriefings/Display/@briefing.DatabaseRecordId.Trim()" class="visitedlink" target="_blank" title="@briefing.Title">@briefing.Title</a>
                            <a href="/IntelBriefings/Display/@briefing.DatabaseRecordId.Trim()" class="visitedtick"><span class="visitedtick_tt"></span></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="disabled" title="You do not have access to this feature. Please contact your account manager for assistance."><i class="icon-lock"></i>@briefing.Title</a>
                        }
                    </div>
                </span>
            }
        </div>
    </div>
    <div>
        @if (Model.IsEnabled)
        {
            @Html.Partial("Widget/LinkListWidgetFooter", new[] { Model.ViewMoreLink })
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            var data = {
                dataFirstname: '@Model.Attendee.firstname',
                dataLastname: '@Model.Attendee.lastname',
                dataEmail: '@Model.Attendee.email',
                dataJobTitle: '@Model.Attendee.jobTitle',
                dataCompany: '@Model.Attendee.company',
                dataAddress: '@Model.Attendee.address',
                dataAddress2: '@Model.Attendee.address2',
                dataCity: '@Model.Attendee.city',
                dataState: '@Model.Attendee.state',
                dataCountry: '@Model.Attendee.country',
                dataPostcode: '@Model.Attendee.postcode'
            };

            RegisterButtonClick(data,'#@ibtContainerId');
        });

    </script>
    @Html.Partial("IntelBriefingRegistrationPopup")

</div>