@model IHS.Apps.CMP.Models.ViewModels.MyCustomDashboardsModel

@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
}

@section browser_title
{
    @Model.Title
}
@section page_title
{
    <div class="page-header"><h1>@Model.Title</h1></div>
}

@section additional_scripts
{
    @Scripts.Render("~/bundles/mycustomdashboards")
}



<style>
    .icon-search + .icon-lock {
        margin-top: -50%;
        z-index: 10000;
        margin-left: 50%;
        display: block;
    }
</style>

<div class="grid-1-1">
    <table class="table">
        <thead>
            <tr>
                <th>Custom Dashboard Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomDashboards)
            {
                <tr id="csdb@(item.Id)">
                    <td>
                        <h4>

                            <a target='blank' href='/Dashboard/Custom/@item.Id' id='name(@item.Id)' >
                                <strong><span id="titleSpan@(item.Id)"  title="Click to view the Dashboard">@item.Name</span></strong>
                            </a>
                            <i id="pencil@(item.Id)" class="icon-pencil hand tipsyMe small grey2 u-margin-Lxs" title="@this.LocalResources("Edit")" onclick="ToggleTitleEditCD('@item.Id');"></i>
                        </h4>


                        <div class="grid hidden" id="titleEdit@(item.Id)">
                            <div class="grid-1">
                                <input class="form-control title" onblur="ToggleTitleEditCD('@item.Id');" placeholder="Title required" value="@item.Name">
                            </div>
                        </div>

                    </td>

                    <td>
                        <h5>
                            <span id="DescSpan@(item.Id)">@(string.IsNullOrEmpty(item.Description) ? "No description set" : item.Description)</span>
                            
                            <i id="DescPencil@(item.Id)" class="icon-pencil hand tipsyMe grey2 u-margin-Lxs" title="@this.LocalResources("Edit")" onclick="ToggleDescEditCD('@item.Id');"></i>

                            <div class="grid hidden" id="descEdit@(item.Id)">
                                <div class="grid-1">
                                    <textarea class="form-control" placeholder="No description" rows="3" style="resize: vertical;" onblur="ToggleDescEditCD('@item.Id');" >@item.Description</textarea>
                                </div>
                            </div>

                        </h5>


                    </td>

                    <td>
                        <h5>
                            <span id="CreatedDate@(item.Id)">@item.CreatedDate</span>

                        </h5>


                    </td>




                    <td>
                        <i class="icon-trash hand tipsyMe xlarge" onclick="DeleteCustomDashboard('csdb'+'@item.Id','@item.Id');return false;" title="Delete"></i>

                    </td>


                </tr>
            }

        </tbody>
    </table>

</div>
