@model IHS.Apps.CMP.Models.ViewModels.PopupImageCarouselModel

<div id="imgPopupWrapper" class="imgPopupWrapper inline">
    <div class="titleBar">
        @*<div class="close"></div>*@
        @*<div class="fullscreen"></div>*@
        <div style="height:20px;"></div>
    </div>
    @*<div class="wait" data-bind="visible : isLoading">Please wait...</div>*@
    <div class="viewer" data-bind="iviewer : { image : selectedImage() }"></div>
</div>
<div class="carousel">
    <ul class="imageSlides">
        @{
            var imageCount = 0;
        }
        @foreach (var image in Model.CarouselItems)
        {
            imageCount++;
            <li data-bind="click : selectImage.bind($data, '@image.FullImageLink')" data-thumb="@image.ThumbnailLink">
                @if (imageCount == 1)
                {
                    <img src="@image.FullImageLink" data-bind="event : { load : imagesLoad.bind($data, '@image.FullImageLink') }" />
                }
                else
                {
                    <img src="@image.FullImageLink" />
                }
            </li>
        }
    </ul>
</div>