@model IHS.Apps.CMP.Models.ViewModels.SaveSearchForm

@{
    string formId = CmpHtmlHelpers.CreateUniqueId("saveSearchForm");
    string noun = Model.IsRss ? "RSS feed" : "search";
    string verbPresent = Model.IsRss ? "creating" : "saving";
    string verbPast = Model.IsRss ? "created" : "saved";

    string text = string.Format("Please enter a name for the {0}", noun);
    
    if (Model.ExistingSearches != null && Model.ExistingSearches.Count() > 0)
    {
        text += string.Format(" OR select a previously {0} {1} from the dropdown list below to replace it.", verbPast, noun);
    }
    else
    {
        text += ".";
    }
}

@if (Model.IsAllowedToSave)
{
    <div id="@formId" class="form-horizontal">
        <input type="hidden" id="hidSearchId" value="@Model.SearchIdToClone" />
        <script type="text/javascript">
            function updateSaveFormWarningMessage() {

                var $form = $("#@formId");

                var isNew = $("#radioNewSave", $form).is(":checked");

                var isValid = true;
                var errorMessage = "";

                if (isNew) {

                    var newName = $("#inpNewSavedSearch", $form).val();

                    var existingNames = $.map($("#selExistingSearches option", $form), function (option) {
                        return $(option).text();
                    }) || [];

                    if (newName.length === 0) {
                        isValid = false;
                        errorMessage = "You must supply a name for a new saved search.";
                    } else if (existingNames.indexOf(newName) > -1) {
                        isValid = false;
                        errorMessage = "You already have a search saved as '" + newName + "'. Please chose another name, or select the name from the dropdown to overwrite it.";
                    }
                }

                var $warning = $(".alert", $form);

                if (isValid) {
                    $warning.hide();
                } else {
                    $warning.html(errorMessage);
                    $warning.show();
                }

                return isValid;

            };
        </script>

        <p class="alert-danger alert" style="display: none">
            @* Is popualted dynamically *@
        </p>

        <p>
            @text
        </p>

        <!-- NEW -->
        <div class="form-group">
            <label for="inpNewSavedSearch" class="grid-1 grid-sm-1-5 control-label u-padding-Rn newtextlabel">New</label>
            <div class="grid-1 grid-sm-3-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" value="NEW" name="new_or_existing" id="radioNewSave" checked />
                    </span>
                    <input type="text" class="form-control" id="inpNewSavedSearch" value="@Model.DefaultName">
                </div>
            </div>
        </div>

        @if (Model.ExistingSearches != null && Model.ExistingSearches.Count() > 0)
        {
        <!-- EXISTING -->
        <div class="form-group">
            <label for="selExistingSearches" class="grid-1 grid-sm-1-5 control-label u-padding-Rn">Existing</label>
            <div class="grid-1 grid-sm-3-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" value="EXISTING" name="new_or_existing" id="radioExistingSave" />
                    </span>
                    <select data-placeholder="" class="form-control" id="selExistingSearches" onchange="$('#radioExistingSave').prop('checked', true);">
                        @{
                            string selectedSave = "selected";
                            foreach (var item in Model.ExistingSearches)
                            {
        <option value="@item.Id" @selectedSave>@item.Title</option>
                                selectedSave = string.Empty;
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        }

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="taNewSearchDescription" class="grid-1 grid-sm-1-5 control-label u-padding-Rn">Description</label>
            <div class="grid-1 grid-sm-3-4">
                <textarea class="form-control" rows="3" id="taNewSearchDescription"></textarea>
            </div>
        </div>

        @if (Model.IsAllowedToEmailAlert)
        {
        <!-- EMAIL FREQUENCY -->
        <p>Why not create an email alert at the same time as @verbPresent this @noun.
        
        </p>
        if (Model.IsTrial)
                    {
            <p class="label label-warning">No access to trial users</p>
        }
        <div class="form-group">
            <label for="selEmailFrequency" class="grid-1 grid-sm-1-5 control-label u-padding-Rn">Email Frequency</label>
            <div class="grid-1 grid-sm-3-4">
                <select data-placeholder="None" class="form-control" id="selEmailFrequency" @(Model.IsTrial ? "disabled=disabled" : string.Empty)>
                    @{
                        string selectedEmail = "selected";
                        foreach (var emailFreq in Model.EmailFrequencies)
                        {
                            <option value="@emailFreq" @selectedEmail>@emailFreq</option>
                            selectedEmail = string.Empty;
                        }
                    }
                </select>
            </div>
        </div>
        }
        <!-- FORM BUTTONS -->
        <div class="form-group">
            <div class="grid-1 text-center">
                <button id="buttonSaveSearch" type="button" class="btn btn-primary" data-bind="click : function() { if(updateSaveFormWarningMessage()) { submitSaveSearchRequest('@formId', '@Model.IsRss'); }}">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
}
else
{
    <p class="alert-danger alert">
        You are currently logged in using your organisation's shared account.

        To access this feature please log in using your personal profile or create one using the link to the top right of the screen.
    </p>
}