@using System.Globalization
@model IHS.Apps.CMP.Models.ViewModels.MySavedSearchesModel

@if (Model.Searches.Count == 0)
{
    <div class="well text-center large">@this.LocalResources("NoneFound")</div>
}
else
{
    <style>
        .icon-search + .icon-lock {
            margin-top: -50%;
            z-index: 10000;
            margin-left: 50%;
            display: block;
        }
    </style>
    string currentCategory = string.Empty;

    foreach (var ssearch in Model.Searches.OrderBy(s => s.CategoryName))
    {
        if (currentCategory != ssearch.CategoryName)
        {
            currentCategory = ssearch.CategoryName;
            <h4 class="light-grey-bg u-padding-Axs u-margin-Tn u-margin-Bn u-border-top u-border-bottom">@ssearch.CategoryName</h4>
        }

        if (!ssearch.IsAuthorised)
        {
            <div id="@(ssearch.Id)" class="saved-search-row u-padding-Txs u-padding-Lm u-padding-Rm u-padding-Bxs u-border-bottom grey4-bg">
                <div class="grid grey4-bg grey2">
                    <div class="grid-1-2 large">
                        <div class="grid">
                            <div class="grid-1-12">
                                <i title="@this.LocalResources("View")" class="icon-search xlarge"></i>
                                <i title="" class="icon-lock blue3"></i>
                            </div>
                            <div class="grid-11-12">
                                <strong><span id="titleSpan@(ssearch.Id)">@ssearch.Title</span></strong>
                                <h5><span id="DescSpan@(ssearch.Id)">@(string.IsNullOrEmpty(ssearch.Description) ? "No description set" : ssearch.Description)</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="text-right grid-1-4">
                        <form class="form-horizontal">
                            <fieldset disabled>
                                @if (ssearch.AlertConfig != null && ssearch.AlertConfig.intervals != null && ssearch.AlertConfig.intervals.Count() > 0)
                                {
                                    <div class="form-group">
                                        <label class="control-label grid-2-5" for="@("emailDDL" + ssearch.Id)">@this.LocalResources("Email")</label>
                                        <div class="grid-3-5">
                                            <select @("id=emailDDL" + ssearch.Id) class="emailDDL form-control" dataid="@ssearch.Id">
                                                <option value="0">@this.LocalResources("None")</option>
                                            </select>
                                        </div>
                                    </div>
                                }

                                @if (ssearch.ExportConfig != null)
                                {
                                    <div class="form-group">
                                        <label class="control-label grid-2-5" for="attachmentDDL@(ssearch.Id)">@this.LocalResources("Attachment")</label>
                                        <div class="grid-3-5">
                                            <select dataid="@(ssearch.Id)" class="attachmentDDL form-control" id="attachmentDDL@(ssearch.Id)">
                                                <option value="">@this.LocalResources("None")</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </form>
                    </div>

                    <div class="text-right grid-1-4">
                        @if (ssearch.HasFeed)
                        {
                            <i class="icon-rss xlarge"></i>
                        }
                        @if (ssearch.CanShare)
                        {
                            <i class="icon-share xlarge"></i>
                        }
                        <i class="icon-trash hand tipsyMe xlarge" onclick="DeleteSavedSearch('@ssearch.Id', '@ssearch.CategoryId');return false;" title="@this.LocalResources("Delete")"></i>

                        <dl class="dl-horizontal text-muted u-margin-Ts u-margin-Bn">
                            <dt>@this.LocalResources("CreatedDate")</dt>
                            <dd>@ssearch.DateCreated</dd>
                            @if (!string.IsNullOrEmpty(ssearch.LastProcessedDate))
                            {
                                <dt>@this.LocalResources("LastProcessed")</dt>
                                <dd>@ssearch.LastProcessedDate</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="@(ssearch.Id)" class="saved-search-row u-padding-Txs u-padding-Lm u-padding-Rm u-padding-Bxs u-border-bottom">
                <div class="grid">
                    <!-- TITLE STUFF -->
                    <div class="grid-1-2 large">
                        <div class="grid">
                            <div class="grid-1-12">
                                @{
                                    if (!string.IsNullOrEmpty(ssearch.RedirectParameters))
                                    {
                                        var redirect = string.Format(CultureInfo.InvariantCulture, "{0}?{1}", ssearch.RedirectUrl, ssearch.RedirectParameters);

                                        <a title="@this.LocalResources("View")" href="@redirect" class="icon-search xlarge hand tipsyMe" tabindex="0"></a>
                                    }
                                    else
                                    {
                                        <button title="@this.LocalResources("View")" role="button" onkeyup="ViewSearchKeyUp(event, '@ssearch.Id')" onclick="ViewSearch('@ssearch.Id')" class="icon-search xlarge hand tipsyMe" tabindex="0"></button>
                                    }
                                   }
                            </div>
                            <div class="grid-11-12">
                                <strong><span id="titleSpan@(ssearch.Id)">@ssearch.Title</span></strong>

                                @if (ssearch.SearchType != "system_search")
                                {
                                    <button id="pencil@(ssearch.Id)" class="icon-pencil hand tipsyMe small grey2 u-margin-Lxs" title="@this.LocalResources("Edit")" onclick="ToggleTitleEdit('@ssearch.Id');"></button>

                                    <div class="grid hidden" id="titleEdit@(ssearch.Id)">
                                        <div class="grid-1">
                                            <input class="form-control title" onblur="ToggleTitleEdit('@ssearch.Id');" placeholder="Title required" value="@ssearch.Title">
                                        </div>
                                    </div>
                                }
                                <h5>
                                    <span id="DescSpan@(ssearch.Id)">@(string.IsNullOrEmpty(ssearch.Description) ? "No description set" : ssearch.Description)</span>
                                    @if (ssearch.SearchType != "system_search")
                                    {
                                        <button id="DescPencil@(ssearch.Id)" class="icon-pencil hand tipsyMe grey2 u-margin-Lxs" title="@this.LocalResources("Edit")" onclick="ToggleDescEdit('@ssearch.Id');"></button>

                                        <div class="grid hidden" id="descEdit@(ssearch.Id)">
                                            <div class="grid-1">
                                                <textarea class="form-control" placeholder="No description" rows="3" onblur="ToggleDescEdit('@ssearch.Id');">@ssearch.Description</textarea>
                                            </div>
                                        </div>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-right grid-1-4">
                        <form class="form-horizontal">
                            <fieldset>
                                @if (ssearch.AlertConfig != null && ssearch.AlertConfig.intervals != null && ssearch.AlertConfig.intervals.Count() > 0)
                                {
                                    <div class="form-group">
                                        <label class="control-label grid-2-5" for="@("emailDDL" + ssearch.Id)">@this.LocalResources("Email")</label>
                                        <div class="grid-3-5">
                                            <select @("id=emailDDL" + ssearch.Id) class="emailDDL form-control" dataId="@ssearch.Id">
                                                <option value="0">@this.LocalResources("None")</option>
                                                @foreach (IHS.Apps.CMP.Models.Configuration.intervalsInterval inter in ssearch.AlertConfig.intervals)
                                                {
                                                    <option value="@inter.minutes.ToString()" selected="@(ssearch.AlertFrequency == inter.minutes)">@this.LocalResources(inter.title_resource_key)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }

                                @if (ssearch.ExportConfig != null)
                                {
                                    <div class="form-group">
                                        <label class="control-label grid-2-5" for="attachmentDDL@(ssearch.Id)">@this.LocalResources("Attachment")</label>
                                        <div class="grid-3-5">
                                            <select dataid="@(ssearch.Id)" class="attachmentDDL form-control" id="attachmentDDL@(ssearch.Id)">
                                                <option value="">@this.LocalResources("None")</option>
                                                @if (ssearch.ExportConfig.csv != null)
                                                {
                                                    <option value="csv" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("csv") ? "selected" : "")>csv</option>
                                                }
                                                @if (ssearch.ExportConfig.pdf != null)
                                                {
                                                    <option value="pdf" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("pdf") ? "selected" : "")>pdf</option>
                                                }
                                                @if (ssearch.ExportConfig.docx != null)
                                                {
                                                    <option value="docx" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("docx") ? "selected" : "")>docx</option>
                                                }
                                                @if (ssearch.ExportConfig.tab != null)
                                                {
                                                    <option value="tab" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("tab") ? "selected" : "")>tab</option>
                                                }
                                                @if (ssearch.ExportConfig.excel != null)
                                                {
                                                    <option value="excel" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("excel") ? "selected" : "")>excel</option>
                                                }
                                                @if (ssearch.ExportConfig.kml != null)
                                                {
                                                    <option value="kml" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("kml") ? "selected" : "")>kml</option>
                                                }
                                                @if (ssearch.ExportConfig.xml != null)
                                                {
                                                    <option value="xml" @(ssearch.AttachmentFormat.ToLowerInvariant().Equals("xml") ? "selected" : "")>xml</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </form>
                    </div>
                    <div class="text-right grid-1-4">
                        @if (ssearch.CanBeDefaultView)
                        {
                            if (ssearch.IsDefaultView)
                            {
                                <button title="@this.LocalResources("RemoveDefault")" onclick="ToggleDefaultSearch('@ssearch.Id', '@(ssearch.CategoryKey)', '@(ssearch.CategoryId)');" id="defaultSearchLink@(ssearch.Id)" class="icon-ok-squared hand tipsyMe xlarge defSearch@(ssearch.CategoryKey)"></button>
                            }
                            else
                            {
                                <button title="@this.LocalResources("MakeDefault")" onclick="ToggleDefaultSearch('@ssearch.Id', '@(ssearch.CategoryKey)', '@(ssearch.CategoryId)');" id="defaultSearchLink@(ssearch.Id)" class="icon-plus-squared hand tipsyMe xlarge defSearch@(ssearch.CategoryKey)"></button>
                            }
                        }

                        @if (ssearch.HasFeed)
                        {
                            <button class="icon-rss hand tipsyMe xlarge" title="@this.LocalResources("RSS")" onclick="RSSSearch('@ssearch.Id', '@this.UserProfile.Id')"></button>
                        }
                        @if (ssearch.CanShare)
                        {
                            <button class="icon-share hand tipsyMe xlarge" title="@this.LocalResources("Share")" data-toggle="modal" data-target="#shareModal" onclick="SetupShareDialog('@ssearch.CategoryKey', '@ssearch.ProviderName', '@ssearch.Id', 'Normal')"></button>
                        }
                        <button class="icon-trash hand tipsyMe xlarge" onclick="DeleteSavedSearch('@ssearch.Id', '@ssearch.CategoryId');return false;" title="@this.LocalResources("Delete")"></button>

                        <dl class="dl-horizontal text-muted u-margin-Ts u-margin-Bn">
                            <dt>@this.LocalResources("CreatedDate")</dt>
                            <dd>@ssearch.DateCreated</dd>
                            @if (!string.IsNullOrEmpty(ssearch.LastProcessedDate))
                            {
                                <dt>@this.LocalResources("LastProcessed")</dt>
                                <dd>@ssearch.LastProcessedDate</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        }
    }
}

@if (Model.Newsletters != null && Model.Newsletters.Count > 0)
{
    <h1>Newsletters</h1>
    foreach (var news in Model.Newsletters.OrderBy(s => s.Name))
    {
        <label class="toggleSwitch toggleSwitch">
            
            <input type="checkbox" checked="@news.Subscribed" onclick="ToggleNewsletterSubscription(@news.Id, '@this.User.UniqueId');">
            <span>
                <span></span>
                <span></span>
                <a></a>
            </span>
        </label>
        <span class="u-font-125">@news.Name</span>
        <div class="text-info u-margin-Bm">@news.Description</div>
    }
}