@model IHS.Apps.CMP.Models.ViewModels.SearchBar

@{
    var display = CmpHtmlHelpers.GetQueryValue<string>(this.Request, "mode") == "advanced"
        ? string.Empty :
        "display:none";
}

<div style="@display" data-bind="visible : isVisible">
    <div class="advanced-searchbox">

        <div data-bind="foreach : searchBars">
            <div class="input-group input-group-lg advanced-search searchbox">

                <!-- BOOLEAN OPERATOR -->
                <div class="input-group-btn" data-bind="visible : $index() > 0">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span data-bind="text: operator().label"></span>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach : availableOperators">
                        <li role="menuitem">
                            <a href="javascript:void(0)" data-bind="text : label, click : $parent.operator.bind($data, $data)"></a>
                        </li>
                    </ul>
                </div>

                <!-- SEARCH BAR -->
                @*<div class="loading sm"></div>*@
                <input type="text" data-bind="textInput: searchText, enterkey: $parent.enterClick.bind($parent, '@Model.CategoryMapping'), searchBarAutoComplete : {chars : 3, enableAutoComplete: enableSearchBarAutoComplete}, css : { 'input-first' : $index() === 0 }, watermark : { smallWidth : 1024, smallText : $index() === 0 ? 'Search' : '', text : $index() === 0 ? '@Model.HtmlWatermark' : '' }" class="form-control" placeholder="Search..." />

                <div class="loading sm"></div>

                <div class="input-group-btn">
                    <!-- FILTER -->
                    <button type="button" class="btn btn-default btn-last dropdown-toggle searchbox-filter" data-toggle="dropdown" aria-expanded="false">
                        <span data-bind="text: filter().label"></span>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach : availableFilters">
                        <li role="menuitem">
                            <a href="javascript:void(0)" data-bind="text : label, click : $parent.filter.bind($data, $data)">Full Text</a>
                        </li>
                    </ul>

                    <button class="btn btn-link adv-remove-searchbar tooltip" title="Remove" data-bind="visible : $index() > 0, click : $parent.removeSearchBar.bind($parent, $data)">
                        <i class="icon-minus"></i><span class="sr-only">Remove search term</span>
                    </button>


                </div>
                <div class="search-help" data-bind="visible : $index() === 0">
                    <button class="btn btn-link helpButton" data-bind="click: $parent.showHelp" role="menuitem" data-toggle="modal" data-target="#helpIndicatorDialog" data-appkey="@Model.AppName" data-groupid="SEARCHHELP" data-itemid="SEARCHHELP" aria-hidden="true">
                        <i class="icon-help-circled"></i><span class="hidden-sm">Search tips</span>
                    </button>
                </div>
            </div>
        </div>
        <div data-bind="visible : showAddSearchBar">
            <button class="btn btn-link btn-block" data-bind="click : addEmptySearchBar.bind($data)"><i class="icon-plus"></i>Add Additional Term</button>
        </div>


        <div class="input-group-btn advanced-search">
            
            <button class="btn btn-link adv-back-simple" data-bind="click: switchSearchMode">
                <i class="icon-ccw"></i>Simple Search
            </button>

            <button class="btn btn-link adv-clear-all pull-right" data-bind="click: removeAllSearchBars.bind($data, '@Model.CategoryMapping')">
                <span>Clear All</span>
            </button>

            <button class="btn btn-full btn-primary adv-apply-search pull-right btn-ihsm" type="submit" data-bind="click: applySearch.bind($data, '@Model.CategoryMapping')">
                <i class="icon-search"></i>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
</div>


