@model IEnumerable<SelectListItem>

<script type="text/javascript">
    function InitShare() {

        $("#ddlUsers").chosen({ width: 200, placeholder_text_single: "Select a user to share with" });

        $("#chkAllUsers").change(function () {
            $("#ddlUsers").prop("disabled", $(this).is(":checked")).trigger("chosen:updated");
        });

        $("#btnShare").click(function (event) {
            var theBody = $("#shareBody");
            var categoryKey = theBody.find("#hidCategoryKey").val();
            var providerKey = theBody.find("#hidProviderKey").val();
            var id = theBody.find("#id").val();
            var shareToCompany = theBody.find("#chkAllUsers").is(':checked');
            var shareToUserId = theBody.find("#ddlUsers").val();
            var note = theBody.find("#txtNote").val();
            var shareType = theBody.find("#hidShareType").val();
            var applicationName = theBody.find("#hidApplicationName").val();
            var documentTitle = theBody.find("#hidDocumentTitle").val();
            var originalUserId = theBody.find("#hidOriginalUserId").val();

            var dataString = "{ shareType:'" + shareType
                + "', applicationName:'" + applicationName
                + "', categoryKey:'" + categoryKey
                + "', providerKey:'" + providerKey
                + "', id:'" + id
                + "', shareToCompany:" + shareToCompany
                + ", shareToUserId:'"  + shareToUserId
                + "', note:'" + note
                + "', companyName:'@User.CompanyName', documentTitle:'" + documentTitle
                + "', originalUserId:'" + originalUserId  + "' }";

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Share/Share",
                data: dataString,
                success: function (msg) {
                    ShowSuccess("Sharing complete");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowError("An error occurred trying to share. " + errorThrown);
                }
            });
        });
    }

    function SetupShareDialog(catKey, providerKey, id, shareType, applicationName, documentTitle, originalUserId) {
        $("#hidProviderKey", "#shareBody").val(providerKey);
        $("#hidCategoryKey", "#shareBody").val(catKey);
        $("#id", "#shareBody").val(id);
        $("#ddlUsers", "#shareBody").val("").prop("disabled", false).trigger("chosen:updated");
        $("#txtNote", "#shareBody").val("");
        $("#chkAllUsers").prop('checked', false);
        $("#hidShareType", "#shareBody").val(shareType);
        $("#hidApplicationName", "#shareBody").val(applicationName);
        $("#hidDocumentTitle", "#shareBody").val(documentTitle);
        $("#hidOriginalUserId", "#shareBody").val(originalUserId);
    }
</script>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="shareModalLabel">@this.LocalResources("Share")</h4>
            </div>
            <div class="modal-body">
                <div id="shareBody" class="grid">
                    <fieldset>
                        @Html.Hidden("id")
                        @Html.Hidden("hidCategoryKey")
                        @Html.Hidden("hidProviderKey")
                        @Html.Hidden("hidShareType")
                        @Html.Hidden("hidApplicationName")
                        @Html.Hidden("hidDocumentTitle")
                        @Html.Hidden("hidOriginalUserId")

                        <div class="form-group">
                            <label class="grid-1-6 control-label" for="chkAllUsers">@this.LocalResources("ShareWithAll")</label>
                            <div class="grid-5-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkAllUsers">
                                    </label>
                                </div>
                                <span class="help-block">@this.LocalResources("ShareWithAllHelp")</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="grid-1-6 control-label" for="ddlUsers">@this.LocalResources("ShareWithUser")</label>
                            <div class="grid-5-6">
                                @Html.ListBox("ddlUsers", Model, new { @class = "form-control chosenselect", width = "200px" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="grid-1-6 control-label" for="txtNote">@this.LocalResources("AddNote")</label>
                            <div class="grid-5-6">
                                <textarea class="form-control" id="txtNote" rows="3"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnShare" type="button" class="btn btn-primary" data-dismiss="modal">@this.LocalResources("Share")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@this.LocalResources("Cancel")</button>
            </div>
        </div>
    </div>
</div>