@using IHS.Apps.CMP.Models.ViewModels.AandD

@model TabModel

@{
    string linksId = CmpHtmlHelpers.CreateUniqueId("dvTabDynamicLinks");

    var markercontentId = CmpHtmlHelpers.CreateUniqueId("markerContent");

    List<string> tabContentIds = new List<string>();
    for (int i = 0; i < Model.TabItemModels.Count; i++)
    {
        tabContentIds.Add(CmpHtmlHelpers.CreateUniqueId("tabContent"));
    }
    var tabContentStyle = "position:relative; min-height:100px;";
}

@{
    if (Model.IsAuthorized)
    {
        <div class="grid" id="@markercontentId" style="display:inline-block; width: 100%;">
            <div class="grid-1 fill-content" style="padding: 0 0 0 0 !important;">
                @CmpHtmlHelpers.GenerateTabsForModal(Model.TabItemModels, "Additional Information")
                <div id="myTabContent" class="tab-content bordered">
                    @for (var i = 0; i < Model.TabItemModels.Count; i++)
                    {
                        var content = Model.TabItemModels[i];

                        if (content != null)
                        {
                            if (content.ShowUnauthorisedMessage && !content.IsAuthorised)
                            {
                                <div class="tab-pane fade" id="@content.UniqueIdentifer.ToString()">
                                    @Html.Partial("Unauthorised")
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(content.PartialView) && content.HasContent && content.IsAuthorised)
                            {
                                <div class="tab-pane fade" id="@content.UniqueIdentifer.ToString()">
                                    @Html.Partial(content.PartialView, content.Content)
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(Model.PartialView) && content.HasContent && content.IsAuthorised)
                            {
                                <div class="tab-pane fade" id="@content.UniqueIdentifer.ToString()">
                                    @Html.Partial(Model.PartialView, content.Content)
                                </div>
                            }
                            else if (content.HasContent && content.IsAuthorised)
                            {
                                var active = (i == 0) ? "active in" : string.Empty;
                                <div class="tab-pane fade @active" id="@content.UniqueIdentifer.ToString()">
                                    <div style="@tabContentStyle">
                                        <div>
                                            @Html.Raw(content.Content)
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane fade" id="@content.UniqueIdentifer.ToString()"></div>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Action("GetViewUnauthorised", "DashboardWidget", new { imagePath = Model.BlurredImagePath })
    }
}