@using IHS.Apps.CMP.Models.ViewModels
@model ResultsDataModel<IHS.Core.Catalog.Model.IItem>

<table class="table hover checkboxes results-story">
    <caption class="sr-only">Search results for the selected filters</caption>

    @foreach (var record in Model.ResultItems)
    {
        <tr class="result-item" data-row-id="@record.Data.ID" data-bind="css : { warning : selectedRecords.indexOf('@record.Data.ID') >
                -1 }">

            <td class="checkboxcell row_selector">
                <input id="chkRow_@record.Data.ID" type="checkbox" data-bind="checked : selectedRecords, value : '@record.Data.ID'">
                <label for="chkRow_@record.Data.ID"></label>
            </td>

            <td class="story-contents">
                @{
                    var title = record.Cells.SingleOrDefault(p => p.Key == "EVENT_TITLE");
                    var teaser = record.Cells.SingleOrDefault(p => p.Key == "DESCRIPTION");
                    var country = record.Cells.SingleOrDefault(p => p.Key == "COUNTRY_REFERENCES");
                    var region = record.Cells.SingleOrDefault(p => p.Key == "REGION_REFERENCES");
                    var groups = record.Cells.SingleOrDefault(p => p.Key == "GROUP_NAMES");
                    var postDate = record.Cells.SingleOrDefault(p => p.Key == "EVENT_DATE");
                    var lastUpdateDate = record.Cells.SingleOrDefault(p => p.Key == "LAST_UPDATE");

                }

                @if (title != null)
                {
                    <p class="@title.CssClass">
                        @Html.Partial(title.PartialViewName, title)
                    </p>
                }

                @if (teaser != null)
                {
                    <p class="@teaser.CssClass">
                        @Html.Partial(teaser.PartialViewName, teaser)
                    </p>
                }

                @if (country != null)
                {
                    <p class="@country.CssClass">
                        <strong>Country Ref:</strong>
                        @Html.Partial(country.PartialViewName, country)
                    </p>
                }
                @if (region != null)
                {
                    <p class="@region.CssClass">
                        <strong>Region Ref:</strong>
                        @Html.Partial(country.PartialViewName, region)
                    </p>
                }

                @if (groups != null)
                {
                    <p class="@groups.CssClass">
                        <strong>Group Name:</strong>
                        @Html.Partial(country.PartialViewName, groups)
                    </p>
                }

                @if (postDate != null)
                {
                    <p class="@postDate.CssClass">
                        <strong>Event Date:</strong>
                        @Html.Partial(postDate.PartialViewName, postDate)
                    </p>
                }

                @if (lastUpdateDate != null)
                {
                    <p class="@lastUpdateDate.CssClass">
                        <strong>Last Update Date:</strong>
                        @Html.Partial(postDate.PartialViewName, lastUpdateDate)
                    </p>
                }


            </td>
        </tr>
    }
</table>