@using IHS.Apps.CMP.Models.ViewModels
@model ResultsDataModel<IHS.Core.Catalog.Model.IItem>

<table class="table hover checkboxes results-story">
    <caption class="sr-only">Search results for the selected filters</caption>

    @{
        foreach (var record in Model.ResultItems)
        {
            <tr data-row-id="@record.Data.ID" data-bind="css : { warning : selectedRecords.indexOf('@record.Data.ID') > -1 }">

                <td class="checkboxcell row_selector">
                    <input id="chkRow_@record.Data.ID" type="checkbox" data-bind="checked : selectedRecords, value : '@record.Data.ID'">
                    <label for="chkRow_@record.Data.ID"></label>
                </td>

                <td class="story-contents news">
                    @{
                        var catName = record.Cells.SingleOrDefault(p => p.Key == "CATEGORYKEY");
                        if (catName != null)
                        {
                            <p class="meta u-font-125">
                                @Html.Partial(catName.PartialViewName, catName)
                            </p>
                        }

                        bool companyIsTitle = false;

                        var company = record.Cells.SingleOrDefault(p => p.Key == "COMPANY");
                        var title = record.Cells.SingleOrDefault(p => p.Key == "TITLE");

                        if(title == null && company != null)
                        {
                            companyIsTitle = true;
                            title = company;
                        }
                        else if(title == null)
                        {
                            var wellname = record.Cells.SingleOrDefault(p => p.Key == "WELLNAME");
                            if (wellname != null)
                            {
                                title = wellname;
                            }
                        }

                        <p class="@title.CssClass u-font-125">
                            @Html.Partial(title.PartialViewName, title)

                            @{
                                var isNew = record.Cells.SingleOrDefault(p => p.Key == "ISNEWARTICLE");
                                if (isNew != null)
                                {
                                    @Html.Partial(isNew.PartialViewName, isNew)
                                }

                                var isUpdate = record.Cells.SingleOrDefault(p => p.Key == "ISUPDATE");
                                if (isUpdate != null)
                                {
                                    @Html.Partial(isUpdate.PartialViewName, isUpdate)
                                }

                                var high = record.Cells.SingleOrDefault(p => p.Key == "ISHIGHLIGHT");
                                if (high != null)
                                {
                                    @Html.Partial(high.PartialViewName, high)
                                }

                                var stop = record.Cells.SingleOrDefault(p => p.Key == "ISSTOPPRESS");
                                if (stop != null)
                                {
                                    @Html.Partial(stop.PartialViewName, stop)
                                }

                                var carry = record.Cells.SingleOrDefault(p => p.Key == "ISCARRIEDOVER");
                                if (carry != null)
                                {
                                    @Html.Partial(carry.PartialViewName, carry)
                                }

                                var isUpdateAlert = record.Cells.SingleOrDefault(p => p.Key == "ISUPDATEALERT");
                                if (isUpdateAlert != null)
                                {
                                    @Html.Partial(isUpdateAlert.PartialViewName, isUpdateAlert)
                                }
                            }
                        </p>

                                var teaser = record.Cells.SingleOrDefault(p => p.Key == "PLAINTEXT");
                                if (teaser != null)
                                {
                                    <p class="@teaser.CssClass">
                                        @Html.Partial(teaser.PartialViewName, teaser)
                                    </p>
                                }

                                var date = record.Cells.SingleOrDefault(p => p.Key == "PUBLISHEDDATE");
                                if (date != null)
                                {
                                    <p class="date">
                                        @Html.Partial(date.PartialViewName, date)
                                    </p>
                                }

                                var country = record.Cells.SingleOrDefault(p => p.Key == "COUNTRY");
                                var state = record.Cells.SingleOrDefault(p => p.Key == "STATE");
                                if (country != null)
                                {
                                    <p class="meta">@Html.Partial(country.PartialViewName, country)
                                    @if (state != null && !string.IsNullOrEmpty(state.Value.ToStringSafe(string.Empty)))
                                    {
                                        @:>&nbsp;
                                        @Html.Partial(state.PartialViewName, state)
                                    }
                                    </p>
                                }

                                var usregion = record.Cells.SingleOrDefault(p => p.Key == "USREGION");
                                if (usregion != null)
                                {
                                    <p class="meta">@Html.Partial(usregion.PartialViewName, usregion)</p>
                                }

                                var usarea = record.Cells.SingleOrDefault(p => p.Key == "USAREA");
                                if (usarea != null && !string.IsNullOrEmpty(usarea.Value.ToStringSafe(string.Empty)))
                                {
                                    <p class="meta"> > @Html.Partial(usarea.PartialViewName, usarea)</p>
                                }

                                var county = record.Cells.SingleOrDefault(p => p.Key == "COUNTY");
                                if (county != null && !string.IsNullOrEmpty(county.Value.ToStringSafe(string.Empty)))
                                {
                                    <p class="meta"> > @Html.Partial(county.PartialViewName, county)</p>
                                }

                                var subject = record.Cells.SingleOrDefault(p => p.Key == "SUBJECT");
                                var topic = record.Cells.SingleOrDefault(p => p.Key == "TOPIC");
                                if (subject != null && !string.IsNullOrEmpty(subject.Value.ToStringSafe(string.Empty)))
                                {
                                    <p class="meta">
                                        >
                                        @Html.Partial(subject.PartialViewName, subject)
                                        @if (topic != null && !string.IsNullOrEmpty(topic.Value.ToStringSafe(string.Empty)))
                                        {
                                            @:>&nbsp;
                                            @Html.Partial(topic.PartialViewName, topic)
                                        }
                                    </p>
                                }

                                if (!companyIsTitle && company != null)
                                {
                                    <p class="meta"> > @Html.Partial(company.PartialViewName, company)</p>
                                }

                                var status = record.Cells.SingleOrDefault(p => p.Key == "STATUS");
                                if (status != null && !string.IsNullOrEmpty(status.Value.ToStringSafe(string.Empty)))
                                {
                                    <p class="meta"> > @Html.Partial(status.PartialViewName, status)</p>
                                }

                                var str = record.Cells.SingleOrDefault(p => p.Key == "SECTIONTOWNSHIPRANGE");
                                if (str != null && !string.IsNullOrEmpty(str.Value.ToStringSafe(string.Empty)))
                                {
                                    <p class="meta"> > @Html.Partial(str.PartialViewName, str)</p>
                                }
                    }
                </td>
            </tr>
                                }
    }

</table>